<link rel="stylesheet" type="text/css" href="/stylesheets/shThemeDefault.css" />

<div class="header">
  <h1 class='article-title'>Source Code</h1>
  <h2>Share your idea. You will get more.</h2>
</div>
<div class="content">
<div class="pure-menu pure-menu-horizontal">

<ul class="pure-menu-list">
  <li class="pure-menu-item"><a class="pure-menu-link" href="/source/<%- subs_info.sid %>" target="_blank"><i class="fa fa-file"></i> plain</a></li>
  <li class="pure-menu-item"><a class="pure-menu-link" href="/problem/<%= subs_info.cid %>/<%- subs_info.pid %>" target="_blank"><i class="fa fa-file"></i> <%= __('Problem') %></a></li>
</ul>

</div>

  <div class="pure-g">

      <div class="pure-u-5-5">
          <%- html_code %>
      </div>
  </div>

  <%- include('../_widget/disqus') %>
</div>


