<link rel="stylesheet" type="text/css" href="/stylesheets/shThemeDefault.css" />

<div class="header">
  <h1 class='article-title'>Source Code</h1>
  <h2>Share your idea. You will get more.</h2>
</div>
<div class="content">

<div class="pure-menu pure-menu-horizontal">
<ul class="pure-menu-list">
  <li class="pure-menu-item"><a class="pure-menu-link" href="/source/<%- subs_info.sid %>" target="_blank"><i class="fa fa-file"></i> plain</a></li>
  <li class="pure-menu-item"><a class="pure-menu-link" href="/problem/<%= subs_info.cid %>/<%- subs_info.pid %>" target="_blank"><i class="fa fa-file"></i> <%= __('Problem') %></a></li>
</ul>
</div>

<% if (source_result['state'] == 'OTHER') { %>
<h3>Error Message</h3>
<pre><%= source_result['message'][0] %></pre>
<% } else { %>
<h3>Result</h3>
<table class="pure-table" style="width: 100%">
<thead>
  <tr>
    <th>Testdata</th>
    <th>Result</th>
  </tr>
</thead>
<tbody>
  <% for (var i = 0; i < source_result['message'].length; i++) {
      var subtask = source_result['message'][i];
   %>
      <tr>
        <td><%= subtask.name %> <%= subtask.input %></td>
        <td>
          <%
            var map_class = {
              'Accepted': 'result7',
              'Wrong Answer': 'result6',
              'Runtime Error': 'result4',
              'Time Limit Exceeded': 'result5',
            };
            var status_class = '';

            if (map_class[subtask.status])
              status_class = map_class[subtask.status];
          %>
          <span class="<%= status_class %>"><%= subtask.status %></span> 
         (<%= subtask.cpu %> ms, <%= Math.ceil(subtask.mem/1024) %> KB)</td>
      </tr>
  <% } %>
</tbody>
</table>
<% } %>

<div class="pure-g">
    <div class="pure-u-5-5">
        <%- html_code %>
    </div>
</div>

  <%- include('../_widget/disqus') %>
</div>

<script src="/javascripts/clipboard/clipboard.min.js"></script>

<script>
new Clipboard(".fw-code-copy-button", {
  text: function(trigger) {
    var $rows = $(trigger).next().find('.code').find('.line');
    var rowDelim = '\n';
    return '' + $rows.map(function(i, row) {
      var $row = $(row);
      return $row.text().replace(/\s/g, " ");
    }).get().join(rowDelim);
  }
});
</script>


