<meta http-equiv="refresh" content="60" />

<style>
@media screen and (max-width : 648px) {
	.date, .date-header {
		display: none;
	}
}
@media screen and (max-width : 960px) {
	.sid, .sid-header {
		color: white;
		display: none;
	}

}
@media screen and (max-width : 1920px) {
	.codelen, .codelen-header {
		display: none;
	}
}
</style>

<% 
	var ac_map = [];
	for (var i in ac_list) {
		if (ac_list[i].score == 100)
			ac_map[ac_list[i].pid] = 1;
	}
%>
<div class="header">
	<h1 class='article-title'><%- __('Submission') %></h1>
    <h2><%- __('Update page each 60 seconds') %></h2>
</div>
<div class="content">
	<% if (site.CONTEST.MODE == true) { %>
	<div class="sysmsg"><%- __('Examination in progress') %></div>
	<% } %>
<div class="pure-g">
	<div class="pure-u-1-1">
	<%- include('../_widget/submission_table', {submission_list: submission_list, ac_map: ac_map}) %>
	<%
		var totpage = Math.ceil(submission_status.count / 25);
		var page = query_filter['page'];
		var arg_query = '';
		if (query_filter['uid'] != undefined)
			arg_query += '&uid=' + query_filter['uid'];
		if (query_filter['pid'] != undefined)
			arg_query += '&pid=' + query_filter['pid'];
		if (query_filter['cid'] != undefined)
			arg_query += '&cid=' + query_filter['cid'];
		if (page == undefined || page == null)
			page = 1;
		else
			page = parseInt(page);
	%>
	<%- include('../pagination', {page: page, url: site.url_for('submissions?page='), query: arg_query, totpage: totpage})%>
	</div>
</div>
</div>