<link rel="stylesheet" type="text/css" href="<%= site.url_for('stylesheets/shThemeDefault.css') %>" />

<div class="header">
	<h1 class='article-title'><%- problemtitle %></h1>
    <h2>The problem with troubleshooting is that trouble shoots back.</h2>
</div>
<div class="content">

<div class="pure-menu pure-menu-horizontal">
	<ul class="pure-menu-list">
		<li class="pure-menu-item"><a class="pure-menu-link" href='<%= site.url_for('problem/0/' + pid) %>'><%= __('Problem') %></a></li>
	</ul>
</div>

<div class="pure-g">
	<div class="pure-menu">
	<div class="pure-u-1">
		<h2 class="content-subhead">Testdata</h2>
		<% if (downloadList && downloadList.length != 0) { %>
			<div class="pure-menu">
			    <ul class="pure-menu-list">
				<% for (var i in downloadList) { %>
					<li class="pure-menu-item">
						<a class="pure-menu-link" href='<%- site.url_for(site.ROUTE.testdata + '/' + pid + '/' + downloadList[i]) %>' download><i class="fa fa-file"></i> <%= downloadList[i] %></a>
					</li>
				<% } %>
				</ul>
			</div>
		<% } else { %>
			<pre>Testdata not found.</pre>
		<% } %>
	</div>
</div>
</div>
