<div class="header">
	<h1><%= __('Problems') %></h1>
	<h2><%= __("You have to believe in yourself. That's the secret of success.") %></h2>
</div>

<div class="content">

<div class="pure-menu pure-menu-horizontal">
	<ul class="pure-menu-list">
		<li class="pure-menu-item"><a class="pure-menu-link" href="<%= site.url_for('problems/domains') %>"><%= __('Domain') %></a></li>
	</ul>
</div>
<style>
.custom-restricted {
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    overflow-x: scroll;
}
#level-list li {
	cursor: pointer; 
}
.problem-tag {
	width: 30%;
	display: inline-block;
	float: right;
}
</style>

<%
	var solve_status = {};
	if (level_progress && level_progress['db']) {
		for (var i = 0; i < level_progress['db'].length; i++) {
			solve_status[level_progress['db'][i].level] = {};
			solve_status[level_progress['db'][i].level]['total'] = level_progress['db'][i].count;
			solve_status[level_progress['db'][i].level]['status'] = 'undefined';
		}
	}
	if (level_progress && level_progress['ac']) {
		for (var i = 0; i < level_progress['ac'].length; i++) {
			if (level_progress['ac'][i].count >= 
				solve_status[level_progress['ac'][i].level]['total'])
				solve_status[level_progress['ac'][i].level]['status'] = 'complete';
			else
				solve_status[level_progress['ac'][i].level]['status'] = 'working';
		}
	}
%>

<div class="pure-g" id="level-list">
	<div class="pure-u-1 pure-u-lg-6-24">
		<h3><%= __('Subdomains') %></h3>
		<div class="pure-menu custom-restricted">
		    <span class="pure-menu-heading"></span>
		    <ul class="pure-menu-list">
		    <% for (var level = 0; level_list && level < level_list.length; level++) { %>
		    	<li class="pure-menu-item" data="<%- level_list[level].level %>"><a class="pure-menu-link" style="text-overflow: ellipsis;" href="#<%= level_list[level].level %>">
		    	<% if (solve_status && solve_status[level_list[level].level]) { %>
		    		<% if (solve_status[level_list[level].level]['status'] == 'complete') { %>
		    			<i class="fa fa-star" style='color: green;'></i>	
		    		<% } else if (solve_status[level_list[level].level]['status'] == 'working') { %>
		    			<i class="fa fa-star-half-o" style='color: red;'></i>
		    		<% } else { %>
		    			<i class="fa fa-star-o"></i>
		    		<% } %>
		    	<% } else { %>
		    		<i class="fa fa-star-o"></i>
		    	<% } %>
		    	<%- level_list[level].ttl %></a></li>
		  	<% } %>
		    </ul>
		</div>
	</div>
	<div class="pure-u-1 pure-u-lg-1-24">
	</div>
	<div class="pure-u-1 pure-u-lg-17-24">
		<h3><%= __('Problem List') %></h3>
		<div class="pure-u-1-1" id="level-content">
		</div>
	</div>
</div>

</div>
<style>
.meter { 
	height: 12px;
	background: #EE0000;
}
.meter > span {
  display: block;
  height: 100%;
  background-color: #00EE00;
  position: relative;
  overflow: hidden;
}
</style>
<script>
(function($) {
    "use strict";
    $.fn.extend({
        jhunt: function(options, arg) {
            if (options && typeof(options) == 'object') {
                options = $.extend({}, $.jhunt.defaults, options);
            } else {
                options = $.extend($.jhunt.defaults, options);
            }

            this.each(function() {
                new $.jhunt(this, options, arg);
            });
            return;
        }
    });
    $.jhunt = function(elem, options, arg) {
    	init(elem, options);
    	var obj = $(elem).find('li');
    	obj.on("click", function() {
    		var lid = $(this).attr('data');
    		$.ajax({
			 	method: 'GET',
			 	url: "//" + options.ip + "api/problems",
				data: { did: <%- domain_id %>
					<% if (user['uid'] != undefined) { %>
						, uid: <%- user['uid'] %>
					<% } %>
						, lid: lid
				}
			}).done(function(probs_list) {
		  		var obj = $(elem);
		  		$.jhunt.probs_list = probs_list;
		  		render(elem, options);
		  	}); 
    	});
    	function init(elem, options) {
    	    var defaultLevel = parseInt(window.location.hash.substring(1));
    		if (!defaultLevel) {
    			defaultLevel = <%- level_list ? level_list[0].level : 0 %>;
    		}
			$.ajax({
			 	method: 'GET',
			 	url: "//" + options.ip + "api/problems",
				data: { did: <%- domain_id %>
					<% if (user['uid'] != undefined) { %>
						, uid: <%- user['uid'] %>
					<% } %>
						, lid: defaultLevel
				}
			}).done(function(probs_list) {
		  		var obj = $(elem);
		  		$.jhunt.probs_list = probs_list;
		  		console.log(probs_list);
		  		render(elem, options);
		  	}); 
    	}
    	function render(elem, options) {
    		var probs_list = $.jhunt.probs_list;
    		var obj = $(elem);
		  	var tbody = obj.find('#level-content');
		  	var text = '';
		  	var iplist = <%- JSON.stringify(site.CONTEST.VALID_IP) %>;
		  	var score = {}, subs = {}, solve_dep = {}, prob_dep = {};
		  	for (var i in probs_list.score)
		  		score[probs_list.score[i].pid] = probs_list.score[i].res;
		  	for (var i in probs_list.subs) {
		  		subs[probs_list.subs[i].pid] = {
		  			total: probs_list.subs[i].total,
		  			ac: probs_list.subs[i].ac
		  		};
		  	}
		  	for (var i in probs_list.prob_dep)
		  		prob_dep[probs_list.prob_dep[i].pid] = probs_list.prob_dep[i].depend_count;
		  	for (var i in probs_list.solve_dep)
		  		solve_dep[probs_list.solve_dep[i].pid] = probs_list.solve_dep[i].depend_count;
			for (var i in probs_list.plist) {
				var item = probs_list.plist[i];
					text += '<div class="problem-item">';
				text += '<div class="pure-u-1-12"><h2>';
				if ((item.pid in solve_dep && item.pid in score && score[item.pid] != 7 && solve_dep[item.pid] == prob_dep[item.pid]) 
					|| (!(item.pid in prob_dep) && (!(item.pid in score) || item.pid in score && score[item.pid] != 7))) {
					text += '<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>';
				}
				if (item.pid in score && score[item.pid] == 7) {
					if (!(item.pid in score) || solve_dep[item.pid] != prob_dep[item.pid]) {
						text += '<i class="fa fa-user-secret" aria-hidden="true"></i>';
					}
				}
				if (item.pid in score) {
					if (score[item.pid] == 7)
						text += '<i class="fa fa-check" style="color: green;"></i>';
					else
						text += '<i class="fa fa-bug" style="color: red;"></i>';
				} else {
					if (item.pid in prob_dep && prob_dep[item.pid] != solve_dep[item.pid]) {
						text += '<i class="fa fa-lock" aria-hidden="true"></i>';
					}
				}
				text += '</h2></div>';
				text += '<div class="pure-u-11-12">';
				var date = new Date(item.ts);
				text += '<h3 class="custom-mf-title"><a href="<%= site.url_for('/') %>problem/0/' + item.pid + '" title="Last Update ' + date.getFullYear() + '/' + (date.getMonth() + 1) + '/' + date.getDate() + '">' + item.pid + '. ' + item.ttl + '</a></h3>';
				if (item.pid in subs)
					text += '<span class="problem-tag"><div class="meter" title="' + (subs[item.pid].total-subs[item.pid].ac) + ' WA"><span title="' + subs[item.pid].ac + ' AC" style="width: ' + subs[item.pid].ac*100/subs[item.pid].total + '%"></span></div></span>';
				else
					text += '<span class="problem-tag"><i class="fa fa-line-chart" aria-hidden="true"></i> 0%</span>';
				text += '</div>';
				text += '</div>';
	  		}
	  		tbody.html(text);
    	}
    }
    $.jhunt.defaults = {
        ip: '<%- request_hostname %><%= site.url_for('/') %>',
        reloadtime: 2000,		// 	how time to load 
        reloadsubmit: 5,
        loadsubmit: 20,		//	how #submission to load
        updatetime: 3000,	//	single waiting submission to update
        restext:  ['', 'CE', 'OLE', 'MLE', 'RE', 'TLE', 'WA', 'AC', 'Uploading...', 'PE'],
        modify_flag: false
    };
    $.jhunt.probs_list = [];
})(jQuery);  
$(document).ready(function() {
	$('#level-list').jhunt();
});
</script>
