<%
	for (var row = 0 ; problem_list && row < problem_list.length ; row++) {
		problem_list[row].score = -1;
	}
%>
<%
	for (var row = 0 ; score && row < score.length ; row++ ) {
		var tmp = problem_list.filter(function(x){ return x.pid === score[row].pid});
		if (tmp.length == 0)
			continue;
		for (var i in tmp)
			tmp[i].score = score[row].score;
	}
%>
<%
	if (problem_list)
	problem_list = problem_list.filter(function(x){
		var all_depend = depend.filter(function(d){
			return d.pid === x.pid;
		});
		if (user["uid"] >= 0 && user["class"] == null)
			return true;
		return true; // temporarily setting
		for( var row = 0 ; row < all_depend.length ; row++ ){
			if( problem_list.filter(function(y){ return y.pid === all_depend[row].depend_pid;})[0].score !== 100 ){
				return false;
			}
		}

		return true;
	});

	for( var row = 0 ; problem_list && row < problem_list.length ; row++ ){
		var tmp = submissions.filter(function(x){ return x.pid == problem_list[row].pid; });
		problem_list[row].count = 0;
		for (var i in tmp)
			problem_list[row].count = tmp[i].submissions_count;
	}

%>
<div class="header">
	<h1><%= __('Problems') %></h1>
	<h2>You have to belive in yourself. That's the secret of success. </h2>
</div>
<div class="content">

<div class="pure-menu pure-menu-horizontal">
	<ul class="pure-menu-list">
		<li class="pure-menu-item"><a class="pure-menu-link" href="/problems/domains">Domain</a></li>
	</ul>
</div>

<div id="toc_wrapper" >
	<span class="toc-button"><i class="fa fa-anchor"></i></span>
	<ul id="nav" class="pure-table">
<% for (var level = 0 ; level_list && level < level_list.length ; level++ ) { %>
	<% if( level_list[level].level < 0 ) { %>
	 <li><a href="#prob-lv-<%- level_list[level].level %>"> Side Track <span class="toc-item-desc">. <%- level_list[level].ttl %></span> </a></li>
	<% } else { %>
	 <li><a href="#prob-lv-<%- level_list[level].level %>"> Lv. <%- level_list[level].level %>. <span class="toc-item-desc"><%- level_list[level].ttl %></span></a> </li>
	<% } %>
<% } %>
	</ul>
</div>

<div class="pure-g">
	<div class="pure-u-1-1">
		<form class="pure-form" style="position: relative">
			<label for="search" style="position: absolute; left: 12px; top: -2px">
				<i class="fa fa-search"></i> 
			</label>
			<input type="text" id="search" class="pure-input-rounded pure-input-1" placeholder='Search Problems, like :unsolved, :solved' style="padding-left: 36px; margin-top: 2px">
		</form>
	</div>
</div>
<% for (var level = 0 ; level_list && level < level_list.length ; level++ ) { %>
	<% if( level_list[level].level < 0 ) { %>
	 <h2 id="prob-lv-<%- level_list[level].level %>" class="content-subhead"> Side Track. <%- level_list[level].ttl %> </h2>
	<% } else { %>
	 <h2 id="prob-lv-<%- level_list[level].level %>" class="content-subhead"> Level <%- level_list[level].level %>. <%- level_list[level].ttl %> </h2> 
	<% } %>
	<div class="pure-g">
		<div class="pure-u-1-1">
		<table class="pure-table" style="width: 100%">
			<thead>
			<tr>
				<th style="width: 5%"></th>
	           	<th style="width: 5%">#</th>
	            <th style="width: 75%"><%= __('Problem Title') %></th>
	            <th style="width: 15%"><%= __('Subs') %></th>
	        </tr>
	        </thead>
		<tbody>
		<% var original_problem_list = problem_list; %>
		<% problem_list = problem_list.filter(function(x){ return x.level == level_list[level].level; }); %>
		<% for (var row = 0; problem_list && row < problem_list.length; row++ ) { %>
			<tr class="<%- row%2 == 0 ? "" : "pure-table-odd" %>">
	            <% var score = problem_list[row].score; %>
				<td>
					<% if (score == 100) { %>
						<i class="fa fa-check" style="color: green;"></i><span style='display: none'>:solved</span>
					<% } else if (score >= 0) { %>
						<i class="fa fa-times" style="color: red;"></i><span style='display: none'>:unsolved</span>
					<% } else { %>
						<span style='display: none'>:unsolved</span>
					<% } %>
				</td>
				<td><%- problem_list[row].pid %></td>
	            <td>
	            	<a href="problem/0/<%- problem_list[row].pid %>" class="name">
						<%- problem_list[row].ttl %> 
					</a>
	            </td>
	            <td><%- problem_list[row].count %></td>
			</tr>
		<% } %>
		<% problem_list = original_problem_list; %>
		</tbody>
		</table>
		</div>
	</div>
<% } %>
</div>

<script>
var $rows = $('tbody tr');
$('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
    $rows.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});
</script>
