<%
	var pid = pinfo.pid,
		ttl = pinfo.ttl,
		uid = user["uid"];
	var judge_res = site.JUDGE.result_message,
    	judge_lng = site.JUDGE.lang,
    	judge_compiler_arg = site.JUDGE.compiler_arg;
	var unitConvert = site.unitConvert;
%>
<link rel="stylesheet" type="text/css" href="<%= site.url_for('stylesheets/shThemeDefault.css') %>" />

<script src="<%= site.url_for('javascripts/codemirror-5.18.2/lib/codemirror.js') %>" type="text/javascript"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/addon/fold/foldcode.js') %>"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/addon/fold/foldgutter.js') %>"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/addon/fold/brace-fold.js') %>"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/addon/fold/xml-fold.js') %>"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/addon/fold/markdown-fold.js') %>"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/addon/fold/comment-fold.js') %>"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/addon/display/fullscreen.js') %>"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/addon/edit/matchbrackets.js') %>"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/addon/mode/clike.js') %>"></script>

<link rel="stylesheet" href="<%= site.url_for('javascripts/codemirror-5.18.2/lib/codemirror.css') %>"></style>
<link rel="stylesheet" href="<%= site.url_for('javascripts/codemirror-5.18.2/addon/fold/foldgutter.css') %>">
<link rel="stylesheet" href="<%= site.url_for('javascripts/codemirror-5.18.2/theme/monokai.css') %>">
<link rel="stylesheet" href="<%= site.url_for('javascripts/codemirror-5.18.2/addon/display/fullscreen.css') %>">
<style>
.CodeMirror {
  border: 1px solid #eee;
  min-height: 500px;
}
</style>

<div class="header">
	<h1 class='article-title'><%- pid + ". " + ttl %></h1>
    <h2><%= __("I'm a slow walker, but I never walk backwards.") %></h2>
</div>
<div class="content">

<div class="pure-menu pure-menu-horizontal">

<ul class="pure-menu-list">
<% if (user["uid"]) { %>
	<li class="pure-menu-item"><a class="pure-menu-link" href='<%= site.url_for('submissions?pid=' + pid + '&uid='+ uid) %>'><%= __('My Status') %></a></li>
<% } %>
	<li class="pure-menu-item"><a class="pure-menu-link" href='<%= site.url_for('submissions?pid=' + pid) %>'><%= __('Status') %></a></li>
	<li class="pure-menu-item"><a class="pure-menu-link" href='<%= site.url_for('statistic/problem/' + cid + '/' + pid) %>'><%= __('Statistics') %></a></li>
	<li class="pure-menu-item"><a class="pure-menu-link" href='<%= site.url_for('solution/problem/' + cid + '/' + pid) %>'><%= __('Solution') %></a></li>
<% if (user["uid"] >= 0 && user["class"] == null) { %>
	<li class="pure-menu-item"><a class="pure-menu-link" href='<%= site.url_for('statistic/grade/problem/' + cid + '/' + pid) %>'><%= __('Report') %></a></li>
	<li class="pure-menu-item"><a class="pure-menu-link" href='<%= site.url_for('admin/edit/problem/' + pid) %>'><%= __('Edit') %></a></li>
<% } %>
</ul>

</div>

<%- problem_content %>

<div class="pure-g">
	<div class="pure-u-1 pure-u-lg-1">
	<h2 class="content-subhead">Submit</h2>
<% if (canSubmit) { %>
	<form class="pure-form" action="<%= site.url_for('submit') %>" method="post" enctype="multipart/form-data" id="submit_form">
		<fieldset>
			<input name="cid" type="hidden" value="<%- cid %>">
			<input name="pid" type="hidden" value="<%- pid %>">
		<% if (psubmit.length === 0) { %>
				<div class="pure-g">
					<div class="pure-u-1-4">
						<label for="lng"><%= __('Programming Language') %></label>
					</div>
					<div class="pure-u-3-4">
					<% for (var i = 1; i < judge_lng.length; i++) { %>
						<label for="option-two" class="pure-radio pure-input-1">
								<input type="radio" name="lng" value="<%- i %>" <%- ((user.submit_lng == undefined && i == 1) || user.submit_lng == i) ? "checked" : "" %>>
									<%- judge_lng[i] %> (<code><%- judge_compiler_arg[i] %></code>)
						</label>
					<% } %>
					</div>
				</div>
				<!--
				<select name="lng">
				<% for( var i = 1 ; i < judge_lng.length ; i++ ) { %>
					<label for="option-two" class="pure-radio">
							<input id="option-two" type="radio" name="lng" value="<%- i %>" checked>
							<%- judge_lng[i] %> (<%- judge_compiler_arg[i] %>)
					</label>
					<option value="<%- i %>" <%- (i == 1)? "selected" : "" %>><%- judge_lng[i] %> (<%- judge_compiler_arg[i] %>) </option>
				<% } %>
				</select>
			-->
			<div class="pure-g">
				<div class="pure-u-1-4">
					<label for="lng"><%= __('Source') %></label>
				</div>
				<div class="pure-u-3-4">
					<input class="pure-input-1-2" id="code0" name="code0" type="file">
					<span class="pure-button upload-switch-button" style="background: none;" data-id="paste_code_block0" data-file-id="code0" data-show="false">
						<i class="fa fa-angle-down" aria-hidden="true"> or paste your code ...</i>
					</span>
				</div>
			</div>
			<div class="pure-g" id="paste_code_block0" style="display: none;">
				<div class="pure-u-1-4">
				</div>
				<div class="pure-u-3-4">
					<textarea class="pure-input-1" maxlength="65536" name="paste_code0" id='paste_code0' style="font-family: Source Code Pro, Consolas, Monaco, Menlo, Consolas"></textarea>
				</div>
				<script>
					window.onload = function() {
					  var te_markdown = document.getElementById("paste_code0");

					  window.editor_markdown = CodeMirror.fromTextArea(te_markdown, {
					    lineNumbers: true,
					    lineWrapping: true,
					    extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
					    foldGutter: true,
					    gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
					    theme: "monokai",
					    matchBrackets: true,
        				mode: "text/x-csrc",
					    extraKeys: {
					        "F11": function(cm) {
					          cm.setOption("fullScreen", !cm.getOption("fullScreen"));
					          if (cm.getOption("fullScreen"))
					            $('#menu').hide();
					          else
					            $('#menu').show();
					        },
					        "Esc": function(cm) {
					          if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
					          $('#menu').show();
					        }
					      }
					  });
					  window.editor_markdown.on("change", function() {
					        te_markdown.value = window.editor_markdown.getValue();
					  });
					};
				</script>
			</div>
		<% } else { %>
			<% for (var i = 0; i < psubmit.length; i++){ %>
				<div class="pure-g">
					<div class="pure-u-1-4">
						<label for="code<%- i %>"><%- psubmit[i] %></label>
					</div>
					<div class="pure-u-3-4">
							<input class="pure-input-1-2" name="code<%- i %>" id="code<%- i %>" type="file">
							<span class="pure-button upload-switch-button" style="background: none;" data-id="paste_code_block<%- i %>" data-file-id="code<%- i %>" data-show="false">
								<i class="fa fa-angle-down" aria-hidden="true"> or paste your code ...</i>
							</span>
					</div>
				</div>
				<div class="pure-g" id="paste_code_block<%- i %>" style="display: none;">
					<div class="pure-u-1-4">
					</div>
					<div class="pure-u-3-4">
						<textarea class="pure-input-1" maxlength="65536" name="paste_code<%- i %>" style="font-family: Source Code Pro, Consolas, Monaco, Menlo, Consolas"></textarea>
					</div>
				</div>
			<% } %>
		<% } %>
		</fieldset>
		<div class="pure-g">
			<div class="pure-u-1-4">
			</div>
			<div class="pure-u-3-4">
			<button type="submit" name="submit" id="submit" class="pure-button pure-input-1-4 pure-button-primary"><%= __('Submit') %></button>
			</div>
		</div>
	</form>

	<script>
	document.getElementById("submit_form").addEventListener("submit", function(event){
		var answer = confirm("Before you submit, you should make sure that the source code is correct.");
		if(!answer){ event.preventDefault(); }
	});
	</script>
<% } else { %>
	<a class="button-success pure-button" href="<%= site.url_for('login') %>"><i class="fa fa-sign-in"></i> <%= __('Login') %></a>
<% } %>
	</div>
	<div class="pure-u-1 pure-u-lg-1">
		<h2 class="content-subhead">Testdata Set</h2>
		<a href="<%= site.url_for('testdata/download/' + pid) %>"><i class="fa fa-download"></i> Download Testdata</a>
    	<div class="pure-menu">
		    <ul class="pure-menu-list">
	    	<% for (var i in testdata_config) { %>
	    		<% var testset = testdata_config[i]; %>
	    		<li class="pure-menu-item">
	    			<a target="_blank" href="<%- site.url_for(site.HOST.testdata) %><%- pid %>/<%- testset[1][0] %>" class="pure-menu-link" style="padding: 0em 0.1em;">
	    			<%- __('Subtask') %> <%- (parseInt(i)) %> (<%- testset[0] %>%): <%- config.unitConvert('cpu', testset[1][2]*1000) %>, <%- config.unitConvert('mem', testset[1][3]) %>
	    			</a>
	    		</li>
	    	<% } %>
		    </ul>
		</div>
	</div>
</div>

<%- include('../_widget/disqus')  %>


</div>

<script src="<%= site.url_for('javascripts/clipboard/clipboard.min.js') %>"></script>

<script>
new Clipboard(".fw-code-copy-button", {
  text: function(trigger) {
  	var $rows = $(trigger).next().find('.code').find('.line');
  	var rowDelim = '\n';
  	return '' + $rows.map(function(i, row) {
  		var $row = $(row);
  		return $row.text().replace(/\s/g, " ");
  	}).get().join(rowDelim);
  }
});
$('.upload-switch-button').click(function(elem) {
		var target = $(this).attr('data-id');
		var target2 = $(this).attr('data-file-id');
		if ($(this).attr('data-show') == "false") {
			$('#' + target).css('display', 'visibility');
			$('#' + target2).css('display', 'none');
			$(this).attr('data-show', "true");
			$(this).html('<i class="fa fa-angle-up" aria-hidden="true"> or upload file ... </i>');
		} else {
			$('#' + target).css('display', 'none');
			$('#' + target2).css('display', 'visibility');
			$(this).attr('data-show', "false");
			$(this).html('<i class="fa fa-angle-down" aria-hidden="true"> or paste your code ... </i>');
		}
});
</script>
