<div class="header">
	<h1><%= __('Problems') %></h1>
	<h2>You have to belive in yourself. That's the secret of success. </h2>
</div>

<div class="content">

<div class="pure-menu pure-menu-horizontal">
	<ul class="pure-menu-list">
		<li class="pure-menu-item"><a class="pure-menu-link" href="<%= site.url_for('problems/domains') %>">Domain</a></li>
	</ul>
</div>
<style>
.custom-restricted {
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    overflow-x: scroll;
}
#level-list li {
	cursor: pointer; 
}
</style>

<%
	var solve_status = {};
	if (level_progress && level_progress['db']) {
		for (var i = 0; i < level_progress['db'].length; i++) {
			solve_status[level_progress['db'][i].level] = {};
			solve_status[level_progress['db'][i].level]['total'] = level_progress['db'][i].count;
			solve_status[level_progress['db'][i].level]['status'] = 'undefined';
		}
	}
	
	if (level_progress && level_progress['ac']) {
		for (var i = 0; i < level_progress['ac'].length; i++) {
			if (level_progress['ac'][i].count >= 
				solve_status[level_progress['ac'][i].level]['total'])
				solve_status[level_progress['ac'][i].level]['status'] = 'complete';
			else
				solve_status[level_progress['ac'][i].level]['status'] = 'working';
		}
	}
%>

<div class="pure-g" id="level-list">
	<div class="pure-u-1 pure-u-lg-6-24">
		<h3>Subdomains</h3>
		<div class="pure-menu custom-restricted">
		    <span class="pure-menu-heading"></span>
		    <ul class="pure-menu-list">
		    <% for (var level = 0; level_list && level < level_list.length; level++) { %>
		    	<li class="pure-menu-item" data="<%- level_list[level].level %>"><a class="pure-menu-link" style="text-overflow: ellipsis;" href="#<%= level_list[level].level %>">
		    	<% if (solve_status && solve_status[level_list[level].level]) { %>
		    		<% if (solve_status[level_list[level].level]['status'] == 'complete') { %>
		    			<i class="fa fa-star" style='color: green;'></i>	
		    		<% } else if (solve_status[level_list[level].level]['status'] == 'working') { %>
		    			<i class="fa fa-star-half-o" style='color: red;'></i>
		    		<% } else { %>
		    			<i class="fa fa-star-o"></i>
		    		<% } %>
		    	<% } else { %>
		    		<i class="fa fa-star-o"></i>
		    	<% } %>
		    	<%- level_list[level].ttl %></a></li>
		  	<% } %>
		    </ul>
		</div>
	</div>
	<div class="pure-u-1 pure-u-lg-1-24">
	</div>
	<div class="pure-u-1 pure-u-lg-17-24">
		<h3>Problem List</h3>
		<div class="pure-u-1-1" id="level-content">
		</div>
	</div>
</div>

</div>

<script>
(function($) {
    "use strict";
    $.fn.extend({
        jhunt: function(options, arg) {
            if (options && typeof(options) == 'object') {
                options = $.extend({}, $.jhunt.defaults, options);
            } else {
                options = $.extend($.jhunt.defaults, options);
            }

            this.each(function() {
                new $.jhunt(this, options, arg);
            });
            return;
        }
    });
    $.jhunt = function(elem, options, arg) {
    	init(elem, options);
    	var obj = $(elem).find('li');
    	obj.on("click", function() {
    		var lid = $(this).attr('data');
    		$.ajax({
			 	method: 'GET',
			 	url: "//" + options.ip + "api/problems",
				data: { did: <%- domain_id %>
					<% if (user['uid'] != undefined) { %>
						, uid: <%- user['uid'] %>
					<% } %>
						, lid: lid
				}
			}).done(function(probs_list) {
		  		var obj = $(elem);
		  		$.jhunt.probs_list = probs_list;
		  		render(elem, options);
		  	}); 
    	});
    	function init(elem, options) {
    	    var defaultLevel = parseInt(window.location.hash.substring(1));
    		if (!defaultLevel) {
    			defaultLevel = <%- level_list ? level_list[0].level : 0 %>;
    		}
			$.ajax({
			 	method: 'GET',
			 	url: "//" + options.ip + "api/problems",
				data: { did: <%- domain_id %>
					<% if (user['uid'] != undefined) { %>
						, uid: <%- user['uid'] %>
					<% } %>
						, lid: defaultLevel
				}
			}).done(function(probs_list) {
		  		var obj = $(elem);
		  		$.jhunt.probs_list = probs_list;
		  		render(elem, options);
		  	}); 
    	}
    	function render(elem, options) {
    		var probs_list = $.jhunt.probs_list;
    		var obj = $(elem);
		  	var tbody = obj.find('#level-content');
		  	var text = '';
		  	var iplist = <%- JSON.stringify(site.CONTEST.VALID_IP) %>;
		  	var score = {}, subs = {};
		  	for (var i in probs_list.score)
		  		score[probs_list.score[i].pid] = probs_list.score[i].score;
		  	for (var i in probs_list.subs)
		  		subs[probs_list.subs[i].pid] = probs_list.subs[i].count;
			for (var i in probs_list.plist) {
				var item = probs_list.plist[i];
				if (i%2 == 0)
					text += '<div class="problem-item">';
				else
					text += '<div class="problem-item problem-item-odd">';
				if (item.pid in score) {
					if (score[item.pid] == 100)
						text += '<div class="pure-u-1-12"><h2><i class="fa fa-check" style="color: green;"></i></h2></div>';
					else
						text += '<div class="pure-u-1-12"><h2><i class="fa fa-times" style="color: red;"></i></h2></div>';
				} else {
					text += '<div class="pure-u-1-12">' + '</div>';
				}
				text += '<div class="pure-u-11-12">';
				text += '<h3 class="custom-mf-title"><a href="<%= site.url_for('/') %>problem/0/' + item.pid + '">' + item.pid + '. ' + item.ttl + '</a></h3>';

				if (item.pid in subs) {
					text += '<p><span class="content-subhead">Submissions: </span> ' + subs[item.pid] + '</p>';
				} else {
					text += '<p><span class="content-subhead">Submissions: </span> ' + 0 + '</p>';
				}
				text += '</div>';
				text += '</div>';
	  		}
	  		tbody.html(text);
    	}
    }
    $.jhunt.defaults = {
        ip: '<%- request_hostname %><%= site.url_for('/') %>',
        reloadtime: 2000,		// 	how time to load 
        reloadsubmit: 5,
        loadsubmit: 20,		//	how #submission to load
        updatetime: 3000,	//	single waiting submission to update
        restext:  ['', 'CE', 'OLE', 'MLE', 'RE', 'TLE', 'WA', 'AC', 'Uploading...', 'PE'],
        modify_flag: false
    };
    $.jhunt.probs_list = [];
})(jQuery);  
$(document).ready(function() {
	$('#level-list').jhunt();
});
</script>