<div class="header">
	<h1 class='article-title'><%= __('Manage Account') %></h1>
    <h2>Administrator</h2>
</div>

<style>
.account-table th:nth-child(n+3), .account-table td:nth-child(n+3) {
	padding: 0em;
	width: 15%;
}
.account-from-table tr td {
	padding: 0em;
	width: 15%;
}
</style>

<div class="content">
	<%- include('../_partial/widget/nav')%>
	<div class="pure-g">
		<div class="pure-u-1-3">
			<a class="pure-button pure-button-primary" class="pure-u-1-1" href="/admin/new/account">+ <%= __('New Account') %></a>
		</div>
	</div>

	<table class="pure-table pure-table-bordered account-table" style="width: 100%">
		<thead>
		    <tr>
		    	<th>#</th>
				<th><%= __('Username') %></th>
				<th><%= __('Pwd') %></th>
				<th><%= __('Class') %></th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% for (row in account_list) { %>
				<% var acc = account_list[row]; %>
			<tr>
				<td><%- acc.uid %></td>
				<td><%- acc.lgn %></td>
				<td colspan="4">
<form id="form-<%- acc.uid %>" action="/admin/update/account/<%- acc.uid %>" method="post" class="pure-form pure-form-stacked">
    <fieldset>
    <table class="pure-table account-from-table" style='width: 100%;'>
    	<tbody>
    		<tr>
    			<td><input type="text" name="pwd" class="pure-u-23-24" value=""></td>
    			<td><input type="text" name="class" class="pure-u-23-24" value="<%- acc.class %>"></td>
    			<td><input type="text" name="email" class="pure-u-23-24" value="<%- acc.email %>"></td>
    			<td><button onclick="document.getElementById('form-<%- acc.uid %>').submit();" class="pure-button pure-button-primary button-warning pure-u-23-24"><i class="fa fa-pencil-square-o"></i></button></td>
    		</tr>
    	</tbody>
    </table>
    </fieldset>
</form>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>

<script>
var list = document.getElementsByTagName("form");
for (var i = 0; i < list.length; i++) {
	list[i].addEventListener("submit", function(event){
		var answer = confirm("Are you sure you want to update this accout information ?");
		if(!answer){ event.preventDefault(); }
	});
}
</script>