<div class="header">
	<h1 class='article-title'><%= __('Manage Account') %></h1>
    <h2>Administrator</h2>
</div>
<div class="content">
	<%- include('../_partial/widget/nav')%>
	<div class="pure-g">
		<div class="pure-u-1-3">
			<a class="pure-button pure-button-primary" class="pure-u-1-1" href="/admin/new/account">+ <%= __('New Account') %></a>
		</div>
	</div>

	<table class="pure-table pure-table-bordered" style="width: 100%">
		<thead>
		    <tr>
		    	<th>#</th>
				<th><%= __('Username') %></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% for (row in account_list) { %>
				<% var acc = account_list[row]; %>
			<tr>
				<td><%- acc.uid %></td>
				<td><%- acc.lgn %></td>
				<td>
<form id="form-<%- acc.uid %>" action="/admin/update/account/<%- acc.uid %>" method="post" class="pure-form pure-form-stacked">
    <fieldset>
    <div class="pure-g">
            <div class="pure-u-1-1">

               <div class="pure-g">
                    <div class="pure-u-1-4">
                        <label for="pwd"><%= __('Password') %></label>
                        <input type="text" name="pwd" class="pure-u-23-24" value="">
                    </div>
                    <div class="pure-u-1-4">
                        <label for="class"><%= __('Class') %></label>
                        <input type="text" name="class" class="pure-u-23-24" value="<%- acc.class %>">
                    </div>
                    <div class="pure-u-1-4">
                        <label for="emial">Email</label>
                        <input type="text" name="email" class="pure-u-23-24" value="<%- acc.email %>">
                    </div>
                    <div class="pure-controls pure-u-1-4">
                    	<label for=""><%= __('Options') %></label>
                		<button onclick="document.getElementById('form-<%- acc.uid %>').submit();" class="pure-button pure-button-primary button-warning pure-u-23-24"><%= __('Update') %></button>
                	</div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>

<script>
var list = document.getElementsByTagName("form");
for (var i = 0; i < list.length; i++) {
	list[i].addEventListener("submit", function(event){
		var answer = confirm("Are you sure you want to update this accout information ?");
		if(!answer){ event.preventDefault(); }
	});
}
</script>