<script type="text/javascript" src="<%= site.url_for('javascripts/marked.js') %>"></script>
<script type="text/javascript" src="<%= site.url_for('javascripts/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML') %>"></script>
<script src="<%= site.url_for('javascripts/sh/scripts/shCore.js') %>" type="text/javascript"></script>
<script src="<%= site.url_for('javascripts/sh/scripts/shAutoloader.js') %>" type="text/javascript"></script>
<script src="<%= site.url_for('javascripts/sh/scripts/shBrushPlain.js') %>" type="text/javascript"></script>
<script src="<%= site.url_for('javascripts/sh/scripts/shBrushCpp.js') %>" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="<%= site.url_for('stylesheets/shThemeDefault.css') %>">
<script src="<%= site.url_for('javascripts/sh/scripts/shBrushCpp.js') %>" type="text/javascript"></script>


<script src="<%= site.url_for('javascripts/codemirror-5.18.2/lib/codemirror.js') %>" type="text/javascript"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/addon/fold/foldcode.js') %>"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/addon/fold/foldgutter.js') %>"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/addon/fold/brace-fold.js') %>"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/addon/fold/xml-fold.js') %>"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/addon/fold/markdown-fold.js') %>"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/addon/fold/comment-fold.js') %>"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/addon/display/fullscreen.js') %>"></script>
<script src="<%= site.url_for('javascripts/codemirror-5.18.2/mode/markdown/markdown.js') %>"></script>

<link rel="stylesheet" type="text/css" href="<%= site.url_for('javascripts/codemirror-5.18.2/lib/codemirror.css') %>"></style>
<link rel="stylesheet" href="<%= site.url_for('javascripts/codemirror-5.18.2/addon/fold/foldgutter.css') %>">
<link rel="stylesheet" href="<%= site.url_for('javascripts/codemirror-5.18.2/theme/monokai.css') %>">
<link rel="stylesheet" href="<%= site.url_for('javascripts/codemirror-5.18.2/addon/display/fullscreen.css') %>">
<style>
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
</style>
<div class="header">
	<h1 class='article-title'><%= __('Edit Announcement') %></h1>
    <h2>Administrator</h2>
</div>

<div class="content">
	<%- include('../_partial/widget/nav')%>
<div class="tab_container">
    <input id="tab1" type="radio" name="tabs" checked>
    <label for="tab1"><i class="fa fa-code"></i><span> Markdown</span></label>

    <input id="tab2" type="radio" name="tabs">
    <label for="tab2"><i class="fa fa-pencil-square-o"></i><span> Preview</span></label>

    <section id="content1" class="tab-content">
        <div class="pure-u-1-1">
            <form action="<%= site.url_for('admin/update/announcement') %>" method="post" class="pure-form  pure-form-stacked">
                <fieldset>
                    <textarea name="textbox" id="textbox" class="pure-input-1 markdown" style="font-family: Courier, Courier New, Microsoft JhengHei, MingLiU; min-height: 800px;"><%= md_content %></textarea>
                    <div class="pure-controls">
                        <button type="submit" name="submit" id="submit" class="pure-button pure-button-primary"><%= __('Update') %></button>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>
    <section id="content2" class="tab-content">
        <div class="pure-u-1-1 content editor" id="preview-textbox" style="border-color: #f0f0f0; border-style: solid;">
        </div>
    </section>
    <!--content goes here-->
</div>
</div>
<script>
function latex_filter(text) {
    var out = text.replace(/(\${1,2})((?:\\.|[^$])*)\1/g, function(m) {
        m = m.replace(/_/g, '\\_')
             .replace(/</g, '\\lt ')
             .replace(/\|/g, '\\vert ')
             .replace(/\[/g, '\\lbrack ')
             .replace(/\\{/g, '\\lbrace ')
             .replace(/\\}/g, '\\rbrace ')
             .replace(/\\\\/g, '\\\\\\\\');
        return m;
    });
    return out;
};
function after_footer() {
    var math = document.getElementById("preview-textbox");
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,math]);
    SyntaxHighlighter.highlight(math);

};
function render() {
    var renderer = new marked.Renderer();

    renderer.code = function (code, language) {
        if (!language)  language = 'plain';
        return '<pre class="brush: ' + language + ';">' + code + '</pre>';
    };
    var html = $("#textbox").val();
    html = latex_filter(html);
    $("#preview-textbox").html(marked(html, { renderer: renderer })).promise().done(function() {
        after_footer();
    }); 
};
$(document).delegate('#textbox', 'keydown', function(e) {
  var keyCode = e.keyCode || e.which;

  if (keyCode == 9) {
    e.preventDefault();
    var start = $(this).get(0).selectionStart;
    var end = $(this).get(0).selectionEnd;

    // set textarea value to: text before caret + tab + text after caret
    $(this).val($(this).val().substring(0, start)
                + "\t"
                + $(this).val().substring(end));

    // put caret at right position again
    $(this).get(0).selectionStart =
    $(this).get(0).selectionEnd = start + 1;
  }
});
$("#tab2").click(function() {
    if ($(this).is(':checked'))
        render();
});

var list = document.getElementsByTagName("form");
for (var i = 0; i < list.length; i++) {
    list[i].addEventListener("submit", function(event){
        var answer = confirm("Are you sure ?");
        if (!answer){ event.preventDefault(); }
    });
}

var aElems = document.getElementsByTagName('a');

for (var i = 0; i < aElems.length; i++) {
    aElems[i].onclick = function() {
        var check = confirm("Are you sure you want to leave?");
        if (check == true) {
            return true;
        }
        else {
            return false;
        }
    };
}

window.onload = function() {
  var te_markdown = document.getElementById("textbox");

  window.editor_markdown = CodeMirror.fromTextArea(te_markdown, {
    mode: "markdown",
    lineNumbers: true,
    lineWrapping: true,
    extraKeys: {"Ctrl-Q": function(cm){ cm.foldCode(cm.getCursor()); }},
    foldGutter: true,
    gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
    theme: "monokai",
    extraKeys: {
        "F11": function(cm) {
          cm.setOption("fullScreen", !cm.getOption("fullScreen"));
          if (cm.getOption("fullScreen"))
            $('#menu').hide();
          else
            $('#menu').show();
        },
        "Esc": function(cm) {
          if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
          $('#menu').show();
        }
      }
  });
  window.editor_markdown.on("change", function() {
        te_markdown.value = window.editor_markdown.getValue();
  });
};
</script>
