<div class="header">
	<h1 class='article-title'><%= __('Edit Announcement') %></h1>
    <h2>Administrator</h2>
</div>
<div class="content">
	<%- include('../_partial/widget/nav')%>

<form action="update/announcement" method="post" class="pure-form  pure-form-stacked">
    <fieldset>
       
    	<legend>Announcement</legend>

			<label for"motto><%= __('Markdown') %></label>
			<textarea name="textbox" id="textbox" class="pure-input-1" style="font-family: Courier, Courier New, Microsoft JhengHei, MingLiU; min-height: 800px;"><%= md_content %></textarea>

		<div class="pure-controls">
        	<button type="submit" name="submit" id="submit" class="pure-button pure-button-primary"><%= __('Update') %></button>
        </div>
    </fieldset>
</form>

</div>

<script>
$(document).delegate('#textbox', 'keydown', function(e) {
  var keyCode = e.keyCode || e.which;

  if (keyCode == 9) {
    e.preventDefault();
    var start = $(this).get(0).selectionStart;
    var end = $(this).get(0).selectionEnd;

    // set textarea value to: text before caret + tab + text after caret
    $(this).val($(this).val().substring(0, start)
                + "\t"
                + $(this).val().substring(end));

    // put caret at right position again
    $(this).get(0).selectionStart =
    $(this).get(0).selectionEnd = start + 1;
  }
});
</script>
