<div class="header">
	<h1 class='article-title'><%= __('Manage Contest') %></h1>
    <h2>Administrator</h2>
</div>
<div class="content">
	<%- include('../_partial/widget/nav')%>
	<div class="pure-g">
		<div class="pure-u-1-3">
			<a class="pure-button pure-button-primary" class="pure-u-1-1" href="/admin/new/contest">+ <%= __('New Contest') %></a>
		</div>
	</div>

	<table class="pure-table pure-table-bordered" style="width: 100%">
		<thead>
		    <tr>
				<th></th>
				<th>#</th>
				<th><%= __('Contest Title') %></th>
				<th><%= __('Start Date') %></th>
				<th><%= __('End Date') %></th>
				<th><%= __('Options') %></th>
			</tr>
		</thead>
		<tbody>
			<% for (var row in contest_list) { %>
			<tr>
				<% var contest = contest_list[row]; %>
				<td>
					<% if (contest.pub == 1) { %>
						<i class="fa fa-eye"></i>
					<% } else { %>
						<i class="fa fa-eye-slash"></i>
					<% } %>
				</td>
				<td><%- contest.cid %></td>
				<td><a href="/contest/<%- contest.cid %>"><%- contest.ttl %></a></td>
				<td><%- config.unitConvert('date', new Date(contest.ts1)) %></td>
				<td><%- config.unitConvert('date', new Date(contest.ts2)) %></td>
				<td>
				<a class="pure-button pure-button-primary" href="/admin/edit/contest/<%- contest.cid %>"><i class="fa fa-cog"></i> <%= __('Edit') %></a>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>
