<div class="header">
	<h1 class='article-title'><%= __('Add Problem') %></h1>
    <h2>Be Careful to do.</h2>
</div>
<div class="content">
	<%- include('../_partial/widget/nav')%>

<form action="<%= site.url_for('admin/new/problem') %>" method="post" class="pure-form pure-form-stacked">
    <fieldset>
    <div class="pure-g">
            <div class="pure-u-1-1">
               <legend>Problem Config</legend>

               <div class="pure-g">
                    <div class="pure-u-1-2">
                        <label for="pid"><%= __('Problem ID') %></label>
                        <input class="pure-u-23-24" type="text" name="pid" id="pid"  value="" placeholder="input problem id, like `10001`">
                    </div>
                    <div class="pure-u-1-2">
                        <label for="pub"><%= __('View Public/Private') %></label>
                        <select name="pub" class="pure-u-23-24">
                            <option value="1" > <%= __('Public') %> </option>
                            <option value="0" selected> <%= __('Private') %> </option>
                        </select>
                    </div>
                    <div class="pure-u-4-5">
                        <label for="ttl"><%= __('Problem Title') %></label>
                        <input class="pure-u-23-24" type="text" name="ttl" id="ttl" class="pure-input-1" value="" placeholder="input problem title, like `A + B problem`">
                    </div>
                    <div class="pure-u-1-5">
                        <label for="cyclomatic_complexity"><%= __('Cyclomatic Complexity') %></label>
                        <input class="pure-u-21-24" type="text" name="cyclomatic_complexity" id="cyclomatic_complexity" class="pure-input-1" value="" placeholder="edit later" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-1">
                <legend>Category</legend>
                <div class="pure-g">
                    <div class="pure-u-1-3">
                        <label for="level"><%= __('Difficult Level') %></label>
                        <input type="text" class="pure-u-23-24" name="level" id="level" value="" placeholder="input like `1`">
                    </div>
                    <div class="pure-u-1-3">
                        <label for="porder"><%= __('Level Order') %></label>
                        <input type="text" class="pure-u-23-24" name="porder" id="porder" value="" placeholder="in the same level, what order it is">
                    </div>
                    <div class="pure-u-1-3">
                        <label for="porder"><%= __('Dependency') %></label>
                        <input type="text" class="pure-u-23-24" name="dependency" id="dependency" value="" placeholder="separated by commas, like `1,3,5`">
                    </div>
                </div>
            </div>
        </div>

        <div class="pure-g">
            <div class="pure-u-1-1">
                <legend><%= __('Description') %> (Markdown)</legend>

        			<textarea name="textbox" id="textbox" class="pure-input-1" style="font-family: Courier, Courier New, Microsoft JhengHei, MingLiU; min-height: 800px;"></textarea>

        		<div class="pure-controls">
                	<button type="submit" name="submit" id="submit" class="pure-button pure-button-primary button-warning"><%= __('Add New Problem') %></button>
                </div>
            </div>
        </div>
    </fieldset>
</form>

</div>

<script>
$(document).delegate('#textbox', 'keydown', function(e) {
  var keyCode = e.keyCode || e.which;

  if (keyCode == 9) {
    e.preventDefault();
    var start = $(this).get(0).selectionStart;
    var end = $(this).get(0).selectionEnd;

    // set textarea value to: text before caret + tab + text after caret
    $(this).val($(this).val().substring(0, start)
                + "\t"
                + $(this).val().substring(end));

    // put caret at right position again
    $(this).get(0).selectionStart =
    $(this).get(0).selectionEnd = start + 1;
  }
});
</script>
