<div class="header">
	<h1 class='article-title'><%= __('Manage Problem Set') %></h1>
    <h2>Administrator</h2>
</div>
<div class="content">
	<%- include('../_partial/widget/nav')%>

	<div class="pure-g">
		<div class="pure-u-1">
			<form class="pure-form" style="position: relative">
				<label for="search" style="position: absolute; left: 12px; top: -2px">
					<i class="fa fa-search"></i> 
				</label>
				<input id="search" class="pure-input-rounded pure-input-1" placeholder="Search Problems, like :public, :private" style="padding-left: 36px; margin: 2px" type="text">
			</form>
		</div>
	</div>

	<div class="pure-g">
		<div class="pure-u-1-3">
			<a class="pure-button pure-button-primary" class="pure-u-1-1" href="<%= site.url_for('admin/new/problem') %>">+ <%= __('New Problem') %></a>
		</div>
	</div>

	<table class="pure-table pure-table-bordered" style="width: 100%">
		<thead>
		    <tr>
				<th></th>
				<th>#</th>
				<th><%= __('Problem Title') %></th>
				<th><%= __('Options') %></th>
			</tr>
		</thead>
		<tbody>
			<% for (var row in prob_list) { %>
			<tr class='<%- row%2 == 0 ? "pure-table-odd" : "" %>'>
				<% var prob = prob_list[row]; %>
				<td>
					<% if (prob.pub == 1) { %>
						<i class="fa fa-eye"></i>
					<% } else { %>
						<i class="fa fa-eye-slash"></i>
					<% } %>
					<span style="display:none;">:<%= prob.pub ? "public" : "private" %></span>
				</td>
				<td><%- prob.pid %></td>
				<td><a href="<%= site.url_for('problem/0/' + prob.pid) %>"><%- prob.ttl %></a></td>
				<td>
				<span>
					<a class="" href="<%= site.url_for('admin/edit/problem/' + prob.pid) %>"><i class="fa fa-cog"></i></a>
				</span> | 
				<span>
					<a class="pid-rejudge" href="<%= site.url_for('admin/api/rejudge?pid=' + prob.pid) %>" title="重測所有上傳程式碼"><i class="fa fa-refresh"></i></a>
				</span> |
				<span>
					<a class="pid-delete" href="#" title="刪除問題"><i class="fa fa-trash"></i></a>
				</span>
				</td>
			</tr>
			<% } %>
		</tbody>
	</table>
</div>

<script>
var list = document.getElementsByClassName("pid-rejudge");

for (var i = 0; i < list.length; i++) {
	list[i].addEventListener("click", 
        function (event) {
            event.preventDefault();
            if (confirm('Are you sure ? Rejuge maybe need a lot of time.')) {
                window.location = this.href;
            }
        }, 
        false);
}

list = document.getElementsByClassName("pid-delete");

for (var i = 0; i < list.length; i++) {
	list[i].addEventListener("click", 
        function (event) {
            event.preventDefault();
            if (confirm('Are you sure ? Delete problem.')) {
                window.location = this.href;
            }
        }, 
        false);
}
</script>	

<script>
var $rows = $('tbody > tr');
$('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
    $rows.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});
</script>
