<%
	if (problem_config.list) {
		var problem_list = problem_config.list;
		for (var row = 0 ; row < problem_list.length; row++)
			problem_list[row].score = -1;
		for (var row = 0 ; row < problem_config.score.length; row++ ) {
			var tmp = problem_list.filter(function(x) { 
				return x.pid === problem_config.score[row].pid
			});
			if (tmp.length == 0)
				continue;
			tmp[0].score = problem_config.score[row].score;
			tmp[0].submits = problem_config.score[row].submits;
		}
	}
%>
<div class="header">
	<h1 class='article-title'>Contest</h1>
    <h2><%- contest_config.ttl %></h2>
</div>
<div class="content">

<div class="pure-menu pure-menu-horizontal">
	<ul class="pure-menu-list">
		<li class="pure-menu-item"><a class="pure-menu-link" href='/scoreboard/contest/<%- contest_config.cid %>'><%= __('Scoreboard') %></a></li>
		<% if (user["uid"] >= 0 && user["class"] == null) { %>
		<li class="pure-menu-item"><a class="pure-menu-link" href='/admin/edit/contest/<%- contest_config.cid %>'><%= __('Edit') %></a></li>
		<% } %>
	</ul>
</div>

<%- contest_rule_desc %>

<% if (sysmsg.length != 0) { %>
	<h2><div class="sysmsg"><%- sysmsg %></div></h2>
<% } else { %>
	<table class="pure-table pure-table-bordered" style="width: 100%;">
		<thead>
			<tr>
				<th></th>
	           	<th>#</th>
	            <th><%= __('Problem Title') %></th>
	            <th><%= __('Subs') %></th>
	            <th><%= __('#Remain') %></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
		<% for (var row = 0; row < problem_list.length; row++ ) { %>
			<% 
				var score = problem_list[row].score; 
				var submits = problem_list[row].submits == undefined ? 0 : problem_list[row].submits;
			%>
			<tr>
				<td>
					<% if (score == 100) { %>
						<i class="fa fa-check" style="color: green;"></i>
					<% } else if (score >= 0) { %>
						<i class="fa fa-times" style="color: red;"></i>
					<% } %>
				</td>
				<td><%- problem_list[row].pid %></td>
				<td><a href="<%- "/problem/" + contest_config.cid + "/" + problem_list[row].pid %>" ><%- problem_list[row].ttl %></a></td>
				<td></td>
				<td><%- site.CONTEST_SUBMIT_LIMIT - submits %></td>
			</tr>
			
		<% } %>
		</tbody>
	</table>
<% } %>
</div>