<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>
			<% if (typeof subtitle !== 'undefined') { %>
				<%= subtitle ? subtitle + ' | ' : '' %>
			<% } %>
			<%= site.HOST.TITLE %>
		</title>
		<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" /> -->
		<link rel="stylesheet" href="<%= site.url_for('stylesheets/pure-release-0.6.0/pure-min.css') %>">
		<link rel="stylesheet" href="<%= site.url_for('stylesheets/pure-release-0.6.0/grids-responsive-min.css') %>">
		<link title="default" rel="stylesheet" href="<%= site.url_for('stylesheets/pure-release-0.6.0/slide-menu.css') %>">
		<link title="dark" rel="stylesheet" href="<%= site.url_for('stylesheets/pure-release-0.6.0/slide-menu-dark.css') %>" disabled="disabled"/>

		<link title="default" rel="stylesheet" href="<%= site.url_for('stylesheets/chat.css') %>">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="<%= site.url_for('stylesheets/font-awesome/css/font-awesome.min.css') %>">
		<script type="text/javascript" src="<%= site.url_for('javascripts/main.js') %>"></script>
		<script src="<%= site.url_for('javascripts/jquery-2.1.0.min.js') %>"></script>
		<script src="<%= site.url_for('javascripts/jquery.cookie.js') %>"></script>
		<script src="<%= site.url_for('javascripts/jquery.countdown.min.js') %>"></script>
		<script src="<%= site.url_for('javascripts/typed.js') %>"></script>
		<script src="<%= site.url_for('javascripts/diagram/raphael-min.js') %>"></script>
		<script src="<%= site.url_for('javascripts/diagram/flowchart.js') %>"></script>
		<link rel="stylesheet" href="<%= site.url_for('stylesheets/terminal.css') %>">

		<script>
		var cookie_style = $.cookie("mystyle");
		    if (cookie_style == null || cookie_style + '' == 'default') {
		        $("link[title='dark']").attr("disabled","disabled");
		        $("link[title='default']").removeAttr('disabled');
		    } else {
		        $("link[title='default']").attr("disabled","disabled");
		        $("link[title='dark']").removeAttr('disabled');
		    }
		</script>
	</head>
	<body>
		<div id="layout">
	    <!-- Menu toggle -->
	    <a href="#menu" id="menuLink" class="menu-link">
	        <!-- Hamburger icon -->
	        <span></span>
	    </a>

	    <div id="menu">
	        <div class="pure-menu">
	            <a class="pure-menu-heading" href="#"><%= __(site.HOST.TITLE) %></a>

	            <ul class="pure-menu-list">
	                <li class="pure-menu-item"><a href="<%= site.url_for('archive') %>" class="pure-menu-link"><i class="fa fa-archive"></i> <%= __('Archive') %></a></li>
	                <li class="pure-menu-item"><a href="<%= site.url_for('problems/domains') %>" class="pure-menu-link"><i class="fa fa-list-alt"></i> <%= __('Problems') %></a></li>
	                <li class="pure-menu-item"><a href="<%= site.url_for('live') %>" class="pure-menu-link"><i class="fa fa-circle"></i> <%= __('Live') %></a></li>
	                <li class="pure-menu-item"><a href="<%= site.url_for('ranklist') %>" class="pure-menu-link"><i class="fa fa-trophy"></i> <%= __('Rank') %></a></li>
	                <li class="pure-menu-item"><a href="<%= site.url_for('contests') %>" class="pure-menu-link"><i class="fa fa-flag"></i> <%= __('Contest') %></a></li>
	                <li class="pure-menu-item">
						<a id="timer" class="pure-menu-link"> 00:00:00</a>
					</li>
	            </ul>
	        </div>
	        <div class="pure-menu">
	            <a class="pure-menu-heading" href="#"><%= __('Account') %></a>
	            <ul class="pure-menu-list">
	    <% if (user == undefined || user == null || user.uid == undefined) { %>
				<li class="pure-menu-item">
					<a class="pure-menu-link" href="<%= site.url_for('login') %>"><i class="fa fa-sign-in"></i> <%= __('Login') %></a>
				</li>
				<li class="pure-menu-item">
					<a class="pure-menu-link" href="<%= site.url_for('signup') %>"><i class="fa fa-sign-in"></i> <%= __('Sign up') %></a>
				</li>
			<% } else { %>
				<li class="pure-menu-item">
					<a href="#" id="menuLink1" class="pure-menu-link"><i class="fa fa-user"></i> <%- user.lgn %> <i class="fa fa-caret-down"></i></a>
					<ul class="pure-menu-list">
						<li class="pure-menu-item">
							<a class="pure-menu-link" href="<%= site.url_for('user/' + user.uid) %>"><i class="fa fa-tasks"></i> <%= __('Status') %></a>
						</li>
						<li class="pure-menu-item">
							<a class="pure-menu-link" href="<%= site.url_for('score') %>"><i class="fa fa-database"></i> <%= __('Score') %></a>
						</li>
						<li>
							<a class="pure-menu-link" href="<%= site.url_for('edit') %>"><i class="fa fa-cogs"></i> <%= __('Profile') %></a>
						</li class="pure-menu-item">
						<% if (user["class"] == null) { %>
							<li class="pure-menu-item">
								<a class="pure-menu-link" href="<%= site.url_for('admin') %>"><i class="fa fa-hand-paper-o"></i> <%= __('Manage') %></a>
							</li>
						<% } %>
						<li class="pure-menu-item">
							<a class="pure-menu-link" href="<%= site.url_for('logout') %>"><i class="fa fa-sign-out"></i> <%= __('Logout') %></a>
						</li>

					</ul>
				</li>
			<% } %>
				<li class="pure-menu-item">
					<input type="checkbox" id="box-1">
					<label for="box-1" class="pure-menu-item">
					<span class="pure-menu-link"><i class="fa fa-globe"></i> <%= __('Lang') %><i class="fa fa-caret-down"></i></span></label>
					<div>
						<ul class="pure-menu-list">
							<li class="pure-menu-item">
								<a class="pure-menu-link" href="<%= site.url_for('i18n/zhtw') %>"><i class="fa fa-globe"></i> 中文</a>
							</li>
							<li class="pure-menu-item">
								<a class="pure-menu-link" href="<%= site.url_for('i18n/en') %>"><i class="fa fa-globe"></i> en</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="pure-menu-item">
					<input type="checkbox" id="box-2">
					<label for="box-2" class="pure-menu-item">
					<span class="pure-menu-link"><i class="fa fa-rocket"></i> <%= __('Theme') %> <i class="fa fa-caret-down"></i></span></label>
					<div>
						<ul class="pure-menu-list" id="styles">
							<li class="pure-menu-item" id="default">
								<a class="pure-menu-link" href="#"><i class="fa fa-sun-o"></i> <%= __('Default') %></a>
							</li>
							<li class="pure-menu-item" id="dark">
								<a class="pure-menu-link" href="#"><i class="fa fa-moon-o"></i> <%= __('Dark') %></a>
							</li>
						</ul>
					</div>
				</li>
	            </ul>
	        </div>
	    </div>
		<script>start_clock('<%= site.url_for('time') %>')</script>
