<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Judge Girl</title>
		<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" /> -->
		<link rel="stylesheet" href="/stylesheets/pure-release-0.6.0/pure-min.css">
		<link rel="stylesheet" href="/stylesheets/pure-release-0.6.0/slide-menu.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
		<script type="text/javascript" src="/javascripts/main.js"></script>
		<script type="text/javascript" src="/javascripts/problem.js"></script>
		<script src="/javascripts/jquery-2.1.0.min.js"></script>
		<script src="/javascripts/jquery.countdown.min.js"></script>
		<script src="/javascripts/typed.js"></script>
		<link rel="stylesheet" href="/stylesheets/terminal.css">
	</head>
	<body>
		<div id="layout">
	    <!-- Menu toggle -->
	    <a href="#menu" id="menuLink" class="menu-link">
	        <!-- Hamburger icon -->
	        <span></span>
	    </a>

	    <div id="menu">
	        <div class="pure-menu">
	            <a class="pure-menu-heading" href="#">Judge Girl</a>

	            <ul class="pure-menu-list">
	                <li class="pure-menu-item"><a href="/archive" class="pure-menu-link"><i class="fa fa-archive"></i> <%= __('Archive') %></a></li>
	                <li class="pure-menu-item"><a href="/problems" class="pure-menu-link"><i class="fa fa-list-alt"></i> <%= __('Problems') %></a></li>
	                <li class="pure-menu-item"><a href="/live" class="pure-menu-link"><i class="fa fa-circle"></i> <%= __('Live') %></a></li>
	                <li class="pure-menu-item"><a href="/ranklist" class="pure-menu-link"><i class="fa fa-trophy"></i> <%= __('Rank') %></a></li>
	                <li class="pure-menu-item"><a href="/contests" class="pure-menu-link"><i class="fa fa-flag"></i> <%= __('Contest') %></a></li>
	                <li class="pure-menu-item">
						<a id="timer" class="pure-menu-link"></a>
					</li>
	                <li class="pure-menu-item">
					<a class="pure-menu-link" href="#"><i class="fa fa-globe"></i> Lang <i class="fa fa-caret-down"></i></a>
					<li class="pure-menu-item">
						<ul class="pure-menu-list">
							<li class="pure-menu-item">
								<a class="pure-menu-link" href="/i18n/zhtw"><i class="fa fa-globe"></i> zhtw</a>
							</li>
							<li class="pure-menu-item">
								<a class="pure-menu-link" href="/i18n/en"><i class="fa fa-globe"></i> en</a>
							</li>
						</ul>
					</li>
	            </ul>
	        </div>
	        <div class="pure-menu">
	            <a class="pure-menu-heading" href="#">Account</a>

	            <ul class="pure-menu-list">
	        <% if (user == undefined || user == null || user.uid == undefined || user.uid == -1) { %>
				<li class="pure-menu-item">
					<a class="pure-menu-link" href="/login"><i class="fa fa-sign-in"></i> <%= __('Login') %></a>
				</li>
			<% } else { %>
				<li class="pure-menu-item">
					<a href="#" id="menuLink1" class="pure-menu-link"><i class="fa fa-user"></i> <%- user.lgn %> <i class="fa fa-caret-down"></i></a>
					<ul class="pure-menu-list">
						<li class="pure-menu-item">
							<a class="pure-menu-link" href="/user/<%- user.uid %>"><i class="fa fa-tasks"></i> <%= __('Status') %></a>
						</li>
						<li class="pure-menu-item">
							<a class="pure-menu-link" href="/score"><i class="fa fa-tasks"></i> <%= __('Score') %></a>
						</li>
						<li>
							<a class="pure-menu-link" href="/edit"><i class="fa fa-cogs"></i> <%= __('Profile') %></a>
						</li class="pure-menu-item">			
						<% if (user["class"] == null) { %>
							<li class="pure-menu-item">
								<a class="pure-menu-link" href="/admin"><i class="fa fa-hand-paper-o"></i> <%= __('Manage') %></a>
							</li>
						<% } %>
						<li class="pure-menu-item">
							<a class="pure-menu-link" href="/logout"><i class="fa fa-sign-out"></i> <%= __('Logout') %></a>
						</li>

					</ul>
				</li>
			<% } %>
	            </ul>
	        </div>
	    </div>

			
		<script>start_clock()</script>

		<div></div>
