<div class="header">
	<h1 class='article-title'><%- pid + ". " + ttl %></h1>
    <h2>I'm a slow walker, but I never walk backwards. </h2>
</div>
<div class="content">

<div class="pure-menu pure-menu-horizontal">

<ul class="pure-menu-list">
<% if (uid != undefined) { %>
	<li class="pure-menu-item"><a class="pure-menu-link" href='/submissions?pid=<%- pid %>&uid=<%- uid %>'><%= __('My Status') %></a></li>
<% } %>
	<li class="pure-menu-item"><a class="pure-menu-link" href='/submissions?pid=<%- pid %>'><%= __('Status') %></a></li>
	<li class="pure-menu-item"><a class="pure-menu-link" href='/statistic/problem/<%- cid %>/<%- pid %>'><%= __('Statistics') %></a></li>
</ul>

</div>

<%- problem_content %>
<h2>Submit</h2>
<% if( canSubmit ) { %>
	<form class="pure-form  pure-form-aligned" action="/submit" method="post" enctype="multipart/form-data" id="submit_form">
		<input name="cid" type="hidden" value="<%- cid %>">
		<input name="pid" type="hidden" value="<%- pid %>">
		<% if( psubmit.length === 0 ){ %>
			<div class="pure-control-group">
				<label for="lng"><%= __('Programming Language') %></label>
				<select name="lng">
				<% for( var i = 1 ; i < config.lng.length ; i++ ) { %>
					<option value="<%- i %>" <%- (i == 1 )?"selected" : "" %>><%- config.lng[i] %> (<%- config.COMIPLER_ARGU[i] %>) </option>
				<% } %>
				</select>
			</div>

			<div class="pure-control-group">
				<label for="lng"><%= __('Source Code') %></label>
				<input class="pure-input-2-3" name="code" type="file">
			</div>

		<% } else { %>
			<% for( var i = 0 ; i < psubmit.length ; i++ ){ %>
				<div class="pure-control-group">
					<label for="code"><%- psubmit[i] %></label>
					<input class="pure-input-2-3" name="code" type="file">
				</div>
			<% } %>
		<% } %>
			<div class="pure-controls">
				<button type="submit" name="submit" id="submit" class="pure-button pure-button-primary"><%= __('Submit') %></button>
			</div>
	</form>

	<script>
	document.getElementById("submit_form").addEventListener("submit", function(event){
		var answer = confirm("Before you submit, you should make sure that the source code is correct.");
		if(!answer){ event.preventDefault(); }
	});
	</script>	
<% } %>

<h2> Discussion</h2>
			<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'ntucsiecprogramming';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>


</div>