<div class="header">
	<h1 class='article-title'><%= __('Rank') %></h1>
	<h2>I thought that solving problem would last forever. I was wrong.</h2>
</div>
<style>
table .motto span {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 324px;
}
@media screen and (max-width: 64em) {
	.motto, .motto-header {
		display: none;
	}
}
</style>
<div class="content">
	<div class="pure-menu pure-menu-horizontal">
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a class="pure-menu-link" href="/progress">Progress Report</a></li>
			<li class="pure-menu-item"><a class="pure-menu-link" href="#">Site Statistics</a></li>
		</ul>
	</div>
	<div class="pure-g">
		<div class="pure-u-1-1">
	<table class="pure-table pure-table-bordered" style="width: 100%">
		<thead>
			<tr>
				<th>#</th>
				<th><%= __('Account') %></th>
				<th><%= __('Class') %></th>
				<th><%= __('#AC') %></th>
				<th class='motto-header'><%= __('Motto') %></th>
			</tr>
		</thead>
		<tbody>
			<% var rl = rank_list, rank = 1; %>
			<% for (var i = 0; rl && i < rl.length; i++) { %>
				<% if( i !== 0 && rl[i].slv < rl[i-1].slv ) rank++; %>
				<tr class='<%- i%2 == 0 ? "pure-table-odd" : "" %>'>
					<td><%- rank %></td>
					<td><a href='user/<%- rl[i].uid %>' class='nav_a'><%- rl[i].lgn %></a></td>
					<% if (rl[i].class === null || rl[i].class == 0) { %>
						<td><%= __('Administrator') %></td>
					<% } else { %>
						<% if (rl[i].class <= 2) { %>
							<td><%= __('Class {{number}}', {number: __(rl[i].class == 1 ? "Tue." : "Mon.") }) %></td>
						<% } else { %>
							<td><%= __('Visitor Class {{number}}', {number: __(rl[i].class-2 == 1 ? "Tue." : "Mon.") }) %></td>
						<% } %>
					<% } %>
					<td><%- rl[i].slv %></td>
					<td class='motto'><span><%= rl[i].motto.substr(0, 128) %></span></td>
				</tr>
			<% } %>
		</tbody>
	</table>
	</div>
	</div>
</div>
</div>
