<div class="header">
	<h1 class='article-title'>Score</h1>
	<h2><%- userinfo.info.lgn  %></h2>
</div>
<div class="content">

<table class="pure-table pure-table-bordered" style='width: 100%;'>
	<thead>
	<tr>
		<th>Student</th>
		<%
			var thead = score.thead;
			var tbody = score.tbody;
		%>
		<% for (var i in thead) { %>
			<th><%- thead[i].ttl %></th>
		<% } %>
        <th>Avg.</th>
	</tr>
	</thead>
	<tbody>
		<% 
			var record = {};
			for (var i = 0; tbody && i < tbody.length; i++) {
				record[tbody[i].lgn] = {};
			}i
                        /*
			for (var i in record) {
				for (var j = 0; j < thead.length; j++)
					record[i][thead[j].eid] = {};
			}
                        */
			for (var i = 0; tbody && i < tbody.length; i++) {
				record[tbody[i].lgn][tbody[i].eid] = tbody[i].score;
			}
                        for( var i in record ){
                          var sum = 0;
                          for( var j in record[i] ){
                            sum += record[i][j];
                          }
                          record[i].avg = sum / thead.length;
                        }

                        function roundToTwo(num) {    
                            return +(Math.round(num + "e+2")  + "e-2");
                        }
		%>
		<% for (var i in record) { %>
			<tr>
				<td><strong><%- i %></strong></td>
				<% for (var j = 0; j < thead.length; j++) { %>
					<td><%- (record[i][thead[j].eid] !== undefined || record[i][thead[j].eid] === 0) ? Math.ceil(record[i][thead[j].eid]) : 'X' %></td>
				<% } %>
				<td><%- Math.ceil(record[i].avg) %></td>
			</tr>
		<% } %>
	</tbody>
</table>
</div>

