<meta http-equiv="refresh" content="10" />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<div class="header">
	<h1 class='article-title'>Scoreboard</h1>
</div>
<div class="content">
	<div id="bar-progress"></div>
	<table class="pure-table pure-table-bordered" >
		<thead>
			<tr>
				<th style="width: 15%;">Score</th>
				<% var width = 85 / Math.max(table_config.header.length, 1); %>
				<% for (var row = 0; row < table_config.header.length; row++) { %>
					<th style="width:<%- width %>%"><%- table_config.header[row].ttl %></th>
				<% } %>
			</tr>
		</thead>
		<tbody>
			<% if (table_config.scorekind == undefined || table_config.scorekind == null || table_config.scorekind.length == 0 || table_config.scorekind[0].max_res != 100) { %>
			<tr class="normal">
				<th>100</th>
				<% for (var col = 0; col < table_config.header.length; col++) { %>
					<td>0</td>
				<% } %>
			</tr>
			<% } %>
			<% 
				var alluser = {};
				var chart_json = '';
				var probuser = {};
				var score_sum = 0;
				for (var i = 0; i < table_config.user.length; i++)
					alluser[table_config.user[i].uid] = 0;
				for (var i = 0; i < table_config.header.length; i++)
					probuser[i] = 0;
			 %>
			<% for (var row = 0; row < table_config.scorekind.length; row++) { %>
			<tr class="normal">
				<td><%- table_config.scorekind[row].max_res %></td>
				<% for (var col = 0; col < table_config.header.length; col++) { %>
				<%
					var counter = 0;
					for (var i = 0; i < table_config.stats.length; i++) {
						counter += table_config.stats[i].pid == table_config.header[col].pid 
								&& table_config.stats[i]['MAX(scr)'] == table_config.scorekind[row].max_res;
						alluser[table_config.stats[i].uid] = 0;
					}
					probuser[col] = probuser[col] + counter;
					score_sum += counter * table_config.scorekind[row].max_res;
					chart_json += '{ score: ' + table_config.scorekind[row].max_res + ', user: ' + counter + '},'
				%>
					<td><%- counter %></td>
				<% } %>
			</tr>
			<% } %>
			<tr class="normal">
				<td>#NoSubmission</td>
				<%
					var alluser_size = 0;
					for (var key in alluser)
						alluser_size++;
				 %>
				<% for (var i = 0; i < table_config.header.length; i++) { %>
					<td><%- alluser_size-probuser[i] %></td>
				<% } %>
			</tr>
			<tr class="normal">
				<td>#User</td>
				<td colspan='<%- table_config.header.length %>'><%- alluser_size %></td>
			</tr>
			<tr class="normal">
				<td>Avg. score</td>
				<td colspan='<%- table_config.header.length %>'><%- (score_sum / alluser_size / table_config.header.length).toFixed(2) %></td>
			</tr>
		</tbody>
	</table>
	<script>
		Morris.Bar({
		  element: 'bar-progress',
		  data: [
		  	<%- chart_json %>
		  ].reverse(),
		  xkey: 'score',
		  ykeys: ['user'],
		  labels: ['#users']
		});
	</script>
	<% if (user["uid"] >= 0 && user["class"] == null) { %>
		<h2>Grade</h2>
		<table class="pure-table pure-table-bordered" border="1">
			<thead>
				<tr>
					<tr><th style="width: 15%;">User</th>
					<% var width = 85 / Math.max(table_config.header.length, 1); %>
					<% for (var row = 0; row < table_config.header.length; row++) { %>
						<th style="width:<%- width %>%"><%- table_config.header[row].ttl %></th>
					<% } %>
				</tr>
			</thead>
			<tbody>
				<%
					console.log(table_config);
					var alluser = {};
					for (var i = 0; i < table_config.user.length; i++)
						alluser[table_config.user[i].uid] = {};
					for (var i = 0; i < table_config.stats.length; i++)
						alluser[table_config.stats[i].uid] = {};
					for (var i = 0; i < table_config.grade.length; i++) {
						if (alluser[table_config.grade[i].uid] == undefined)
							continue;
						alluser[table_config.grade[i].uid][table_config.grade[i].pid] = table_config.grade[i];
					}
				 %>
				<% for (var row = 0; row < table_config.user.length; row++) { %>
				<tr class="normal">
					<td><a href="/user/<%- table_config.user[row].uid %>"><%- table_config.user[row].lgn %></a></td>
					<% for (var col = 0; col < table_config.header.length; col++) { %>
						<% 
							if (alluser[table_config.user[row].uid][table_config.header[col].pid] != undefined) { 
								var score = alluser[table_config.user[row].uid][table_config.header[col].pid]['MAX(scr)'];
								var times = alluser[table_config.user[row].uid][table_config.header[col].pid]['COUNT(*)'];
						%>
								<%
									var filter = 'cid=' + table_config.cid;
									filter += '&uid=' + table_config.user[row].uid;
								%>
								<% if (score != 100) { %>
									
									<td><span class="result6">Wrong Answer </span>(<%- score %>) / <a href="/submissions?<%- filter %>"><%- times %></a></td>
								<% } else { %>
									<td><span class="result7">Accepted </span>(<%- score %>) / <a href="/submissions?<%- filter %>"><%- times %></a></td>
								<% } %>
						<% } else { %>
							<td> -- / --</td>
						<% } %>
					<% } %>
				</tr>
				<% } %>
		</table>
	<% } %>
</div>
