<div class="header">
	<h1 class='article-title'><%= __('User') %></h1>
	<h2><%- userinfo.info.lgn  %></h2>
</div>
<div class="content">

<h2><%- __('Profile') %></h2>

<table class="pure-table pure-table-bordered" style='width: 100%;'>
	<tbody>
	<tr>
		<th><%= __('Class') %></th>
		<% if (userinfo.info.class == null || userinfo.info.class == '') { %>
			<td><%= __('Administrator') %></td>
		<% } else { %>
			<% if (userinfo.info.class <= 2) { %>
				<td><%= __('Class {{number}}', {number: userinfo.info.class}) %></td>
			<% } else { %>
				<td><%= __('Visitor Class {{number}}', {number: userinfo.info.class-2}) %></td>
			<% } %>
		<% } %>
	</tr>
	<tr>
			<th><%= __('Motto') %></td>
			<td><%= userinfo.info.motto %></td>
	</tr>
	<tr>
		<th><%= __('#Solved List') %></td>
		<td>
			<% for (var i = 0; i < userinfo.solve.length; i++) { %>
				<a href='/submissions?pid=<%- userinfo.solve[i].pid %>&uid=<%- userinfo.info.uid %>'><%- userinfo.solve[i].pid %></a>
			<% } %>
		</td>
	</tr>
	<tr>
		<th><%= __('#Solved') %></th>
		<td><%- userinfo.solve.length %></td>
	</tr>
	<tr>
		<th><%= __('IP') %></th>
		<td><%- userinfo.info.ip %></td>
	</tr>
	<tr>
		<th><%= __('Last Login') %></th>
		<td><%- config.unitConvert('date', new Date(userinfo.info.ts2)) %></td>
	</tr>
	</tbody>
</table>

<h2><%- __('Recent Submission') %></h2>

<table class="pure-table pure-table-bordered" sytle="width: 150%">
	<thead>
		<tr>
			<th class='sid-header' style="width: 5%">#</th>
			<th style="width: 5%"></th>
			<th style="width: 30%">Problem Title</th>
			<th style="width: 20%">Verdict</th>
			<th style="width: 5%"></th>
			<th style="width: 10%">Len</th>
			<th class='date-header' style="width: 30%">Date</th>
		</tr>
	</thead>
	<tbody>


<% var sl = userinfo.recent; %>
<% for (var i = 0; i < sl.length; i++) { %>
	<tr class='normal'>
		<td class='sid'><%- sl[i].sid %></td>
		<td><%- sl[i].pid %></td>
		<td class='problem-title'><a href='/problem/<%- sl[i].cid %>/<%- sl[i].pid %>'><%- sl[i].ttl %></a></td>
		<% 
			var text = '';
			text += "<td class='status' data-res=" + sl[i].res + " data-sid=" + sl[i].sid + ">";
			text += "<a href='detail/" + sl[i].sid + "'><span class='result" + sl[i].res + "'>" + config.res[(sl[i].res+config.res.length)%config.res.length] + "</span>";
			if (sl[i].res != 0 && sl[i].res != 1 && sl[i].res != 8) {
				text += " (";
				if (sl[i].res != 7) {
					text += "score: " + sl[i].scr;
				} else {
					text += config.unitConvert('cpu', sl[i].cpu);
					text += ","
					text += config.unitConvert('mem', sl[i].mem);
				}
				text += ")";
			}
			text += "</a>";
			if (sl[i].res == 0 || sl[i].res == 8)
				text += ' <i class="fa fa-spinner fa-pulse"></i>';
			text += '</td>';
		%>
		<%- text %>
		<td>
				<a href='/source/highlight/<%- sl[i].sid %>'><%- config.lng[sl[i].lng] %></a>
		</td>
		<td><%- config.unitConvert('mem', sl[i].len) %></td>
		<td class='date'><%- config.unitConvert('date', new Date(sl[i].ts)) %></td>
	</tr>
<% } %>
	</tbody>
</table>

</div>