<style>
@media screen and (max-width : 648px) {
	.date, .date-header {
		display: none;
	}
}
@media screen and (max-width : 960px) {
	.sid, .sid-header {
		color: white;
		display: none;
	}

}
@media screen and (max-width : 1920px) {
	.codelen, .codelen-header {
		display: none;
	}
}
</style>

<div class="pure-g">
	<div class="pure-u-1-1">
	<table class="pure-table pure-table-bordered" sytle="width: 100%">
		<thead>
			<tr>
				<th class='sid-header'>#</th>
				<th></th>
				<th>Problem</th>
				<th>User</th>
				<th data-step="18" data-intro="<h3>檢測結果大致上分成以下幾種</h3> <ul style='font-family: verdana; '><li><span style='color: #00AA00;'>AC</span> (Accepted):<br/> 表示通過所有測試資料。</li><li><span style='color:#AAAA00;'>CE</span> (Compile Error):<br/> 表示編譯錯誤，並在訊息中列出完整錯誤訊息。</li> <li><span style='color:#FF0000;'>WA</span> (Wrong Answer): <br/>表示部份答案錯誤。</li><li><span style='color: #0000FF;'>TLE</span> (Time Limit Exceed): <br/>表示執行超過時間限制。</li><li>MLE (Memory Limit Exceed): <br/>表示執行超過記憶體限制。</li><li>OLE (Output Limit Exceed): <br/>表示輸出檔案超過限制大小。</li><li><span style='color: #00AAAA;'>RE</span> (Runtime Error): <br/>表示執行時發生錯誤。</li><li><span style='color: #00AAAA;'>PE</span> (Presentation Error): <br/>在特定題目中，允許部分格式給分。</li><ul>">Verdict</th>
				<th></th>
				<th class='codelen-header'>Len</th>
				<th class='date-header'>Date</th>
			</tr>
		</thead>
		<tbody>
		<% var sl = submission_list; %>
		<% for (var i = 0; i < sl.length; i++) { 
			var submit_owner = false;
			if (user.uid && user.uid == sl[i].uid) 
				submit_owner = true;
		%>
			<tr class='<%= submit_owner ? "pure-table-submitowner" : "" %>'>
				<td class='sid'><%- sl[i].sid %></td>
				<td><%- sl[i].pid %></td>
				<td class='problem-title'><a href='<%= site.url_for('problem/' + sl[i].cid + '/' + sl[i].pid) %>'><%- sl[i].ttl %></a></td>
				<td><a href='<%= site.url_for('user/' + sl[i].uid) %>'><%- sl[i].lgn %></td>
				<% 
					var text = '';
					var judge_res = site.JUDGE.result_message,
					    judge_lng = site.JUDGE.lang;
					var unitConvert = site.unitConvert;
					text += "<td class='status' data-res=" + sl[i].res + " data-sid=" + sl[i].sid + ">";
					text += "<span class='result" + sl[i].res + "'>" + judge_res[(sl[i].res+judge_res.length)%judge_res.length] + "</span>";
					if (sl[i].res != 0 && sl[i].res != 1 && sl[i].res != 8) {
						text += " (";
						if (sl[i].res != 7) {
							text += "score: " + sl[i].scr;
						} else {
							text += unitConvert('cpu', sl[i].cpu);
							text += ", "
							text += unitConvert('mem', sl[i].mem);
						}
						text += ")";
					}
					if (sl[i].res == 0 || sl[i].res == 8)
						text += ' <i class="fa fa-spinner fa-pulse"></i>';
					if (user.uid && (user.uid == sl[i].uid || user["class"] === null)) {
						text += ' <a class="pid-rejudge" href="' + site.url_for('/admin/api/rejudge?pid=') + sl[i].pid + '&sid=' + sl[i].sid + '" style="color: #b6c17b;" title="rejudge"><i class="fa fa-refresh"></i></a>';
					}
					text += '</td>';
				%>
				<%- text %>
				<td>
					<% if (user.uid && (user.uid == sl[i].uid || user["class"] === null)) { %>
					<a href='<%= site.url_for('source/highlight/' + sl[i].sid) %>'><%- judge_lng[sl[i].lng] %> <i class="fa fa-unlock-alt"></i></a>
					<% } else if (typeof(ac_map) != 'undefined' && ac_map[sl[i].pid] != undefined) { %>
					<a href='<%= site.url_for('source/highlight/' + sl[i].sid) %>'><%- judge_lng[sl[i].lng] %> <i class="fa fa-unlock-alt"></i></a>
					<% } else { %>
					<%- judge_lng[sl[i].lng] %>
					<% } %>
				</td>
				<td class='codelen'><%- unitConvert('mem', sl[i].len) %></td>
				<td class='date'><%- unitConvert('date', new Date(sl[i].ts)) %></td>
			</tr>
		<% } %>
		</tbody>
	</table>
	</div>
</div>