<div class="header">
	<h1 class='article-title'><%= __('Score') %></h1>
	<h2><%- userinfo.info.lgn  %></h2>
</div>
<div class="content">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<% 
	for (var i in score_statistic.score) {
		score_statistic.score[i].sum /= score_statistic.exams_cnt;
		score_statistic.score[i].sum = Math.ceil(score_statistic.score[i].sum);
	}
	var gap = 10;
	score_statistic.interval = [];
	console.log(score_statistic.score);
	for (var i = 0; i <= 100; i += gap) {
		var arr = score_statistic.score.filter(function(e) {
			return e["sum"] >= i && e["sum"] < i+gap;
		});
		if (arr.length == 0) {
			score_statistic.interval.push({sum: '[' + i + ', ' + (i+gap) + ')', count: 0});
		} else {
			var sum = 0;
			for (var j in arr)
				sum += arr[j].count;
			score_statistic.interval.push({sum: '[' + i + ', ' + (i+gap) + ')', count: sum});
		}
	}
	console.log(score_statistic.interval);
%>

<div id="bar-progress"></div>
<h3 style="text-align: center"><%= __('Score Distribution') %></h3>
<script>
	Morris.Bar({
		element: 'bar-progress',
		data:
			<%- JSON.stringify(score_statistic.interval) %>
		,
		xkey: 'sum',
  		ykeys: ['count'],
		labels: ['#users'],
		parseTime: false,
		yLabelFormat: function(y){return y != Math.round(y)?'':y;}
	});
</script>

<h2><%= __('Score Table') %></h2>
<%
	var thead = score.thead;
	var tbody = score.tbody;
%>
<%
	var columnsum = {};
	for (var i in thead) {
		columnsum[thead[i].eid] = 0;
	}
	columnsum['Avg.'] = 0;
	columnsum['Fin.'] = 0;
%>

<ul>
	<li><i class="fa fa-calendar-check-o"></i> = 特殊事由請假，不列入學期成績。$\text{學期成績 Fin} = \frac{\text{學期總分 108}}{\text{有效考試場數 N}} \times \frac{累計考試總分 S}{小考滿分 100}$</li>
	<li><i class="fa fa-times"></i> = 沒有成績，該場考試為有效，成績以零分計算。</li>
</ul>

<div style="overflow: auto; max-height: 750px;">
<table class="pure-table pure-table-bordered" style='width: 100%;' id="grade-table">
	<thead>
	<tr>
		<th class="headcol" data-type="string" data-sortable="true" data-name="Student"><div>Student</div></th>
		<% for (var i in thead) { %>
			<th data-type="int" data-sortable="true" data-name="<%= thead[i].ttl %>">
				<div><%- thead[i].ttl %></div>
			</th>
		<% } %>
		<th data-type="int" data-sortable="true" data-name="Avg."><div>Avg.</div></th>
		<th data-type="int" data-sortable="true" data-name="Final Grade"><div>Final Grade</div></th>
	</tr>
	</thead>
	<tbody>
		<% 
			var record = {};
			for (var i = 0; tbody && i < tbody.length; i++) {
				record[tbody[i].lgn] = {};
			}
			for (var i = 0; tbody && i < tbody.length; i++) {
				record[tbody[i].lgn][tbody[i].eid] = tbody[i].score;
			}
			for (var i in record) {
				var sum = 0;
				for (var j in record[i])
					sum += record[i][j];
				record[i].sum = sum;
				record[i].avg = sum / thead.length;
			}

            function roundToTwo(num) {    
                return +(Math.round(num + "e+2")  + "e-2");
            }
		%>
		<% 
			for (var i in record) { 
				var valid_record = 0;				
		%>
			<tr>
				<td class="headcol"><strong><%- i %></strong></td>
				<% 
				for (var j = 0; j < thead.length; j++) { 
					columnsum[thead[j].eid] += (record[i][thead[j].eid] !== undefined || record[i][thead[j].eid] === 0) ? Math.ceil(record[i][thead[j].eid]) : 0;
				%>
					<td>
					<% if (record[i][thead[j].eid] !== undefined && record[i][thead[j].eid] >= 0) { %>
						<% valid_record++; %>
						<%= Math.ceil(record[i][thead[j].eid]) %>
					<% } else { %>
						<% if (record[i][thead[j].eid] == undefined || record[i][thead[j].eid] == -1) { %>
							<% valid_record++; %>
							<i class="fa fa-times"></i>
						<% } else if (record[i][thead[j].eid] == -2) { %>
							<i class="fa fa-calendar-check-o"></i>
						<% } %>
					<% } %>
					</td>
				<% } %>
				<% 

					var expect_fill_count = 18;
					var expect_fill_score = 108;

					expect_fill_count = expect_fill_count - (thead.length - valid_record);

					var contribute_each = expect_fill_score / expect_fill_count;
					var finalgrade = Math.ceil(record[i].sum / 100*contribute_each);

					columnsum['Avg.'] += record[i].avg;
					columnsum['Fin.'] += finalgrade;
				%>
				<td><%- Math.ceil(record[i].avg) %></td>
				<td style="color: <%- finalgrade < 60 ? "#F00" : "#0A0" %>; font-weight: bold;"><%- finalgrade %></td>
			</tr>
		<% } %>
	</tbody>
</table>
</div>

<% if (user["uid"] >= 0 && user["class"] == null) { %>

<h2>Compare</h2>

<p>使用滑鼠右鍵選擇上表的列，結果會在下表呈現。</p>

<div  style="overflow: auto; max-height: 768px;">
	<table class="pure-table pure-table-bordered" style='width: 100%;' id="compare-table">
		<thead>
		<tr>
			<th data-type="string" data-sortable="true" data-name="Student">\</th>
			<%
				var thead = score.thead;
				var tbody = score.tbody;
			%>
			<% for (var i in thead) { %>
				<th data-type="int" data-sortable="true" data-name="<%= thead[i].ttl %>">
					<%- thead[i].ttl %>
				</th>
			<% } %>
			<th data-type="int" data-sortable="true" data-name="Avg.">Avg.</th>
			<th data-type="int" data-sortable="true" data-name="Final Grade">Final Grade</th>
		</tr>
		</thead>
		<tbody>
			
		</tbody>
	</table>
	</div>


<h2>Report</h2>

<div style="overflow: auto; max-height: 768px;">
	<table class="pure-table pure-table-bordered" style='width: 100%;' id="summary-table">
		<thead>
		<tr>
			<th data-type="string" data-sortable="true" data-name="Student">\</th>
			<%
				var thead = score.thead;
				var tbody = score.tbody;
			%>
			<% for (var i in thead) { %>
				<th data-type="int" data-sortable="true" data-name="<%= thead[i].ttl %>">
					<%- thead[i].ttl %>
				</th>
			<% } %>
			<th data-type="int" data-sortable="true" data-name="Avg.">Avg.</th>
			<th data-type="int" data-sortable="true" data-name="Final Grade">Final Grade</th>
		</tr>
		</thead>
		<tbody>
			<tr>
				<td><strong>Average</strong></td>
				<% for (var i = 0; i < thead.length; i++) { 
					var rows = Object.keys(record).length;
				%>
				<td><%= rows ? Math.ceil(columnsum[thead[i].eid]/rows) : 0 %></td>
				<% } %>
				<td><%= rows ? Math.ceil(columnsum['Avg.']/rows) : 0 %></td>
				<td><%= rows ? Math.ceil(columnsum['Fin.']/rows) : 0 %></td>
			</tr>
		</tbody>
	</table>
	</div>
<% } %>

</div>

<script>
function sortTable(tag_id, column, type, cmp) {
    var tbl = document.getElementById(tag_id).tBodies[0];
    var store = [], exp_store = [];
    for(var i=0, len=tbl.rows.length; i<len; i++){
        var row = tbl.rows[i];
        var sortnr;
        if (type == 'int') {
        	sortnr = parseFloat(row.cells[column].textContent || row.cells[column].innerText);
        	if(!isNaN(sortnr)) 	store.push([sortnr, row]);
        	else				exp_store.push([sortnr, row]);
        } else if (type == 'string') {
        	sortnr = row.cells[column].textContent || row.cells[column].innerText;
        	store.push([sortnr, row]);
        }
    }
    if (type == 'int') {
    	if (cmp == 0) {
	    	store.sort(function(x,y) {
	        	return y[0] - x[0];
	    	});
    	} else {
    		store.sort(function(x,y) {
	        	return x[0] - y[0];
	    	});
    	}
    } else if (type == 'string') {
    	if (cmp == 0) {
    		store.sort(function(x,y) {
	        	return y[0] < x[0] ? 1 : -1;
    		});
    	} else {
    		store.sort(function(x,y) {
	        	return y[0] < x[0] ? -1 : 1;
    		});
    	}
    }
    for (var i = 0, len = store.length; i < len; i++)
        tbl.appendChild(store[i][1]);
	for (var i = 0, len = exp_store.length; i < len; i++)
        tbl.appendChild(exp_store[i][1]);
    store = null;
    exp_store = null;
}
sortTable('grade-table', 0, 'string', 0);

$('#grade-table thead tr').find('th').each(function(index, value) {
	var sortable = $(value).attr('data-sortable');
	if (sortable != undefined && sortable == "true") {
		var type = $(value).attr('data-type');
		var name = $(value).attr('data-name');
		$(value).html(name + ' <i class="fa fa-caret-up"></i>');
		$(value).css('cursor', 'pointer');
		$(value).attr('data-sort', '0');
		$(value).click(function() {
			var cmp = $(value).attr('data-sort');
			if (cmp == "1") {
				sortTable('grade-table', index, type, 1);
				$(value).attr('data-sort', "0");
				var name = $(value).attr('data-name');
				$(value).html(name + ' <i class="fa fa-caret-up"></i>');
			} else {
				sortTable('grade-table', index, type, 0);
				$(value).attr('data-sort', "1");
				var name = $(value).attr('data-name');
				$(value).html(name + ' <i class="fa fa-caret-down"></i>');
			}
		});
	}
});

<% if (user["uid"] >= 0 && user["class"] == null) { %>
$(document).ready(function () {
    $('tr').mousedown(function(event) {
    	switch (event.which) {
    		case 3:
	        if (!$(this).hasClass("pure-table-submitowner")) {
	            $(this).addClass("pure-table-submitowner");
	            var table = document.getElementById("compare-table").tBodies[0];
	            table.appendChild(this);
	        }
	        else {
	         	$(this).removeClass("pure-table-submitowner");
	         	var table = document.getElementById("grade-table").tBodies[0];
	         	table.appendChild(this);
	        }
	    }
    });
});
<% } %>
</script>
