<div class="header">
	<h1 class='article-title'>Score</h1>
	<h2><%- userinfo.info.lgn  %></h2>
</div>
<div class="content">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<% 
	for (var i in score_statistic.score) {
		score_statistic.score[i].sum /= score_statistic.exams_cnt;
		score_statistic.score[i].sum = Math.ceil(score_statistic.score[i].sum);
	}
%>

<h2>Score Distribution</h2>

<div id="line-progress"></div>

<script>
	Morris.Bar({
		element: 'line-progress',
		data:
			<%- JSON.stringify(score_statistic.score) %>
		,
		xkey: 'sum',
  		ykeys: ['count'],
		labels: ['#users']
	});
</script>

<h2>Score Cumulative Distribution</h2>

<div id="line-progress2"></div>
<% 
	var sum = 0;
	for (var i in score_statistic.score) {
		sum += score_statistic.score[i].count;
		score_statistic.score[i].count = sum; 
	}
%>
<script>
	Morris.Bar({
		element: 'line-progress2',
		data:
			<%- JSON.stringify(score_statistic.score) %>
		,
		xkey: 'sum',
  		ykeys: ['count'],
		labels: ['#users']
	});
</script>

<h2>Score Detail</h2>
<%
	var thead = score.thead;
	var tbody = score.tbody;
%>
<%
	var columnsum = {};
	for (var i in thead) {
		columnsum[thead[i].eid] = 0;
	}
	columnsum['Avg.'] = 0;
	columnsum['Fin.'] = 0;
%>

<table class="pure-table pure-table-bordered" style='width: 100%;' id="grade-table">
	<thead>
	<tr>
		<th data-type="string" data-sortable="true" data-name="Student">Student</th>
		<% for (var i in thead) { %>
			<th data-type="int" data-sortable="true" data-name="<%= thead[i].ttl %>">
				<%- thead[i].ttl %>
			</th>
		<% } %>
		<th data-type="int" data-sortable="true" data-name="Avg.">Avg.</th>
		<th data-type="int" data-sortable="true" data-name="Final Grade">Final Grade</th>
	</tr>
	</thead>
	<tbody>
		<% 
			var record = {};
			for (var i = 0; tbody && i < tbody.length; i++) {
				record[tbody[i].lgn] = {};
			}
			for (var i = 0; tbody && i < tbody.length; i++) {
				record[tbody[i].lgn][tbody[i].eid] = tbody[i].score;
			}
			for (var i in record) {
				var sum = 0;
				for (var j in record[i])
					sum += record[i][j];
				record[i].sum = sum;
				record[i].avg = sum / thead.length;
			}

            function roundToTwo(num) {    
                return +(Math.round(num + "e+2")  + "e-2");
            }
		%>
		<% 
			for (var i in record) { 
				var finalgrade = Math.ceil(record[i].sum / 100*6);
		%>
			<tr>
				<td><strong><%- i %></strong></td>
				<% 
				for (var j = 0; j < thead.length; j++) { 
					columnsum[thead[j].eid] += (record[i][thead[j].eid] !== undefined || record[i][thead[j].eid] === 0) ? Math.ceil(record[i][thead[j].eid]) : 0;
				%>
					<td>
					<%- (record[i][thead[j].eid] !== undefined || record[i][thead[j].eid] === 0) ? Math.ceil(record[i][thead[j].eid]) : 'X' %>
					</td>
				<% } %>
				<% 
					columnsum['Avg.'] += record[i].avg;
					columnsum['Fin.'] += finalgrade;
				%>
				<td><%- Math.ceil(record[i].avg) %></td>
				<td style="color: <%- finalgrade < 60 ? "#F00" : "#0A0" %>; font-weight: bold;"><%- finalgrade %></td>
			</tr>
		<% } %>
	</tbody>
</table>

<% if (user["uid"] >= 0 && user["class"] == null) { %>

<h2>Report</h2>

<table class="pure-table pure-table-bordered" style='width: 100%;' id="summary-table">
	<thead>
	<tr>
		<th data-type="string" data-sortable="true" data-name="Student">\</th>
		<%
			var thead = score.thead;
			var tbody = score.tbody;
		%>
		<% for (var i in thead) { %>
			<th data-type="int" data-sortable="true" data-name="<%= thead[i].ttl %>">
				<%- thead[i].ttl %>
			</th>
		<% } %>
		<th data-type="int" data-sortable="true" data-name="Avg.">Avg.</th>
		<th data-type="int" data-sortable="true" data-name="Final Grade">Final Grade</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<td><strong>Average</strong></td>
			<% for (var i = 0; i < thead.length; i++) { 
				var rows = Object.keys(record).length;
			%>
			<td><%= rows ? Math.ceil(columnsum[thead[i].eid]/rows) : 0 %></td>
			<% } %>
			<td><%= rows ? Math.ceil(columnsum['Avg.']/rows) : 0 %></td>
			<td><%= rows ? Math.ceil(columnsum['Fin.']/rows) : 0 %></td>
		</tr>
	</tbody>
</table>

<% } %>

</div>

<script>
function sortTable(tag_id, column, type, cmp) {
    var tbl = document.getElementById(tag_id).tBodies[0];
    var store = [];
    for(var i=0, len=tbl.rows.length; i<len; i++){
        var row = tbl.rows[i];
        var sortnr;
        if (type == 'int') {
        	sortnr = parseFloat(row.cells[column].textContent || row.cells[column].innerText);
        	if(!isNaN(sortnr)) store.push([sortnr, row]);
        } else if (type == 'string') {
        	sortnr = row.cells[column].textContent || row.cells[column].innerText;
        	store.push([sortnr, row]);
        }
    }
    if (type == 'int') {
    	if (cmp == 0) {
	    	store.sort(function(x,y) {
	        	return y[0] - x[0];
	    	});
    	} else {
    		store.sort(function(x,y) {
	        	return x[0] - y[0];
	    	});
    	}
    } else if (type == 'string') {
    	if (cmp == 0) {
    		store.sort(function(x,y) {
	        	return y[0] < x[0] ? 1 : -1;
    		});
    	} else {
    		store.sort(function(x,y) {
	        	return y[0] < x[0] ? -1 : 1;
    		});
    	}
    }
    for(var i=0, len=store.length; i<len; i++){
        tbl.appendChild(store[i][1]);
    }
    store = null;
}
sortTable('grade-table', 0, 'string', 0);
$('#grade-table thead tr').find('th').each(function(index, value) {
	var sortable = $(value).attr('data-sortable');
	if (sortable != undefined && sortable == "true") {
		var type = $(value).attr('data-type');
		var name = $(value).attr('data-name');
		$(value).html(name + ' <i class="fa fa-caret-up"></i>');
		$(value).css('cursor', 'pointer');
		$(value).attr('data-sort', '0');
		$(value).click(function() {
			var cmp = $(value).attr('data-sort');
			if (cmp == "1") {
				sortTable('grade-table', index, type, 1);
				$(value).attr('data-sort', "0");
				var name = $(value).attr('data-name');
				$(value).html(name + ' <i class="fa fa-caret-up"></i>');
			} else {
				sortTable('grade-table', index, type, 0);
				$(value).attr('data-sort', "1");
				var name = $(value).attr('data-name');
				$(value).html(name + ' <i class="fa fa-caret-down"></i>');
			}
		});
	}
});
		</script>
