<div class="header">
    <h1 class='article-title'><i class="fa fa-check-square-o" aria-hidden="true"></i> Solved List</h1>
</div>
<div class="content">
    <h3><%= lgn %>'s Solved List</h3>
    <div class="pure-g">
        <div class="pure-u-5-5">
            <table class="pure-table pure-table-bordered" sytle="width: 100%">
                <thead>
                    <tr>
                        <th><i class="fa fa-list-alt" aria-hidden="true"></i> Problem ID</th>
                        <th><i class="fa fa-gavel" aria-hidden="true"></i> Problem Title</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                        for (let rowIndex = 0; rowIndex < solvedList.length; rowIndex++) {
                            let row = solvedList[rowIndex];
                            let query = `?pid=${row.pid}&uid=${uid}`;
                            let submissionLink = site.url_for("submissions") + query;
                            let problemLink = site.url_for(`problem/0/${row.pid}`);
                    %>
                        <tr>
                            <td><a href="<%= problemLink %>"><%= solvedList[rowIndex].pid %></a></td>
                            <td><a href="<%= submissionLink %>"><%= solvedList[rowIndex].title %></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div/
    </div>
</div>

