<%
	if (problem_config.list) {
		var problem_list = problem_config.list;
		for (var row = 0 ; row < problem_list.length; row++)
			problem_list[row].score = -1;
		for (var row = 0 ; row < problem_config.score.length; row++ ) {
			var tmp = problem_list.filter(function(x) {
				return x.pid === problem_config.score[row].pid
			});
			if (tmp.length == 0)
				continue;
			tmp[0].score = problem_config.score[row].score;
			tmp[0].submits = problem_config.score[row].submits;
		}
	}
%>
<div class="header">
	<h1 class='article-title'><%= __('Contest') %></h1>
    <h2><%- contest_config.ttl %></h2>
</div>
<div class="content">

<div class="pure-menu pure-menu-horizontal">
	<ul class="pure-menu-list">
		<li class="pure-menu-item"><a class="pure-menu-link" href='<%= site.url_for('scoreboard/contest/' + contest_config.cid) %>'><%= __('Scoreboard') %></a></li>
		<% if (user["class"] == null) { %>
		<li class="pure-menu-item"><a class="pure-menu-link" href='<%= site.url_for('admin/edit/contest/' + contest_config.cid) %>'><%= __('Edit') %></a></li>
		<% } %>
	</ul>
</div>

<div data-step="20" data-intro="<h3>考場注意事項</h3> <p>每一場考試的注意事項不盡相同。若有任何題目描述更改，將在此張貼 或者 由考場助教口頭說明</p>">
<%- contest_rule_desc %>
</div>

<% if (sysmsg.length != 0) { %>
	<h2><div class="sysmsg"><%- sysmsg %></div></h2>
<% } else { %>
<div class="pure-g">
	<div class="pure-u-1-1">
	<table class="pure-table pure-table-bordered" style="width: 100%;">
		<thead>
			<tr>
				<th data-step="21" data-intro="<h3>答題狀況</h3> <p>若題目與練習題相同，仍需從此頁面連結進入題目上傳程式碼，否則通過題目，也無法在此得到通過標示 <i class='fa fa-check' style='color: green;'></i>；相反地，在嘗試卻未通過時顯示 <i class='fa fa-times' style='color: red;'></i>。</p>"></th>
	           	<th>#</th>
	            <th><%= __('Problem Title') %></th>
	            <th><%= __('Subs') %></th>
	            <th data-step="22" data-intro="<h3>提交限制</h3> <p>剩餘的嘗試次數預設為 <b>15</b> 次。當上傳次數超過限制，將由考試委員有權不紀錄該筆成績。有任何變動請聽從考場人員說明</p>"><%= __('#Remain') %></th>
	            <th><%= __('Average Cyclomatic Number') %></th>
			</tr>
		</thead>
		<tbody>

<% for(var row = 0; row < problem_list.length; row++) { %>
	<%
		var score = problem_list[row].score;
		var submits = problem_list[row].submits == undefined ? 0 : problem_list[row].submits;
	%>
	<tr>
		<td>
			<% if (score == 100) { %>
				<i class="fa fa-check" style="color: green;"></i>
			<% } else if (score >= 0) { %>
				<i class="fa fa-times" style="color: red;"></i>
			<% } %>
		</td>
		<td><%- problem_list[row].pid %></td>
		<td><a href="<%= site.url_for('problem/' + contest_config.cid + '/' + problem_list[row].pid) %>" ><%- problem_list[row].ttl %></a></td>
		<td></td>
		<td><%- site.CONTEST.SUBMIT_LIMIT - submits %></td>
		<td><%- problem_list[row].standard_cyclomatic_complexity %></td>
	</tr>
<% } %>

		</tbody>
	</table>
	</div>
</div>
<% } %>
</div>

<script src="<%= site.url_for('javascripts/intro/intro.js') %>"></script>
<link rel="stylesheet" href="<%= site.url_for('javascripts/intro/introjs.css') %>">
<script type="text/javascript">
  if (RegExp('multipage', 'gi').test(window.location.search)) {
    var tour = introJs().setOption('doneLabel', 'Complete');
    tour.goToStepNumber(20);
    tour.setOption('tooltipPosition', 'auto');
    tour.start().oncomplete(function() {
      window.location.href = '/';
    });
    $('.introjs-bullets li a')[0].className = 'active';
  }
</script>
