<div class="header">
	<h1 class='article-title'><%= __('Contest') %></h1>
    <h2><%= __('Contest comming soon.') %></h2>
</div>
<div class="content">
<% if (contest_list == null || contest_list.length == 0) { %>
	<div class="sysmsg">NO AVAILABLE CONTEST</div>	
<% } else { %>
<script>
	function calcOffset() {
		var xmlhttp = new XMLHttpRequest();
		xmlhttp.open("GET", "<%= site.url_for('time') %>", false);
		xmlhttp.send();

		var dateStr = xmlhttp.getResponseHeader('Date');
		var serverTimeMillisGMT = Date.parse(new Date(Date.parse(dateStr)).toUTCString());
		var localMillisUTC = Date.parse(new Date().toUTCString());

		return offset = serverTimeMillisGMT -  localMillisUTC;
	}
</script>
<div class="pure-g">
	<div class="pure-u-1-1">
		<table class="pure-table pure-table-bordered" style='width: 100%'>
			<thead data-step="19" data-intro="<p>所有考試項目清單、舉行時間、考試狀態</p> <p>對於未公開的考試，只有<b>在登入相應的考試帳號</b>後，才能找到考試資訊並進入考題頁面</p>">
		        <tr>
		            <th>#</th>
		            <th><%= __('Contest Title') %></th>
		            <th><%= __('Date') %></th>
		            <th><%= __('Status') %></th>
		            <th></th>
		        </tr>
		    </thead>
		    <tbody>
			<% 
				var nowtime = new Date().getTime();
				var unitConvert = site.unitConvert;
			%>
			<% for (var i = 0; i < contest_list.length; i++) { %>
				<% 
					var contest_status = '';
					if (nowtime >= contest_list[i].ts2) { 
						contest_status = 'closed';
					} else if (nowtime < contest_list[i].ts1) {
						contest_status = 'comming';
					} else {
						contest_status = 'running';
					}
					if (i % 2) {
//						contest_status += ' pure-table-odd';
					}
				%>
				<tr class="<%- contest_status %>">
					<td><%- contest_list[i].cid %></td>
					<td>
						<a href="contest/<%- contest_list[i].cid %>">
							<%- contest_list[i].ttl %>
						</a>
					</td>
					<td>
						<%- unitConvert('simple_date', new Date(contest_list[i].ts1)) %> ~
						<%- unitConvert('simple_date', new Date(contest_list[i].ts2)) %>
					</td>
					<td>
						<% if (nowtime >= contest_list[i].ts2) { %>
							<%= __('Closed') %>
						<% } else if (nowtime < contest_list[i].ts1) { %>
							<%= __('Comming') %>
						<% } else { %>
							<%= __('Running') %>
						<% } %>
					</td>
					<td>
						<% if (nowtime < contest_list[i].ts1) { %>
						<div id="contest-clock<%- i%>" class='contest-clock'></div>
						<script text='javascript'>
							var d = new Date('<%- unitConvert('date', new Date(contest_list[i].ts1)) %>');
							d.setTime(d.getTime() - calcOffset());
							var ddstr = d.getFullYear() + "/" + (d.getMonth()+1) + "/" + d.getDate()  + " " + d.getHours() + ":" + d.getMinutes() + ":" + d.getSeconds();
							$('#contest-clock<%- i%>').countdown(ddstr, function(event) {
									var totalHours = event.offset.totalDays * 24 + event.offset.hours;
									$(this).html(event.strftime(totalHours + ' hr %M min %S sec'));
								});	
						</script>
						<% } %>
					</td>
				</tr>
				
			<% } %>
		</tbody>
		</table>
	</div>
</div>
	<% } %>
	<%
		var totpage = Math.ceil(contest_size / 25);
		var page = query_filter['page'];
		var arg_query = '';
		if (query_filter['uid'] != undefined)
			arg_query += '&uid=' + query_filter['uid'];
		if (query_filter['pid'] != undefined)
			arg_query += '&pid=' + query_filter['pid'];
		if (query_filter['cid'] != undefined)
			arg_query += '&cid=' + query_filter['cid'];
		if (page == undefined || page == null)
			page = 1;
		else
			page = parseInt(page);
	%>
	<%- include('../pagination', {page: page, url: site.url_for('contests?page='), query: arg_query, totpage: totpage})%>
</div>

<script src="<%= site.url_for('javascripts/intro/intro.js') %>"></script>
<link rel="stylesheet" href="<%= site.url_for('javascripts/intro/introjs.css') %>">
<script type="text/javascript">
  if (RegExp('multipage', 'gi').test(window.location.search)) {
    var tour = introJs().setOption('doneLabel', 'Next page');
    tour.goToStepNumber(19);
    tour.setOption('tooltipPosition', 'auto');
    tour.start().oncomplete(function() {
      window.location.href = '/contest/57?multipage=true';
    });
    $('.introjs-bullets li a')[0].className = 'active'; 
  }
</script>