<div class="pure-menu pure-menu-horizontal">

<ul class="pure-menu-list">
    <li class="pure-menu-item">
        <a class="pure-menu-link" href='/admin/announcement'><%= __('Edit Announcement') %></a>
    </li>
    <li class="pure-menu-item">
        <a class="pure-menu-link" href='/admin/problems'><%= __('Manage Problem Set') %></a>
    </li>
    <li class="pure-menu-item">
        <a class="pure-menu-link" href='/admin/contests'><%= __('Manage Contest') %></a>
    </li>
    <li class="pure-menu-item">
        <a class="pure-menu-link" href='/admin/accounts'><%= __('Manage Account') %></a>
    </li>
    <li class="pure-menu-item">
        <a class="pure-menu-link" href='/admin/grade'><%= __('Manage Grade') %></a>
    </li>
</ul>

</div>