<div class="pure-menu pure-menu-horizontal">

<ul class="pure-menu-list">
    <li class="pure-menu-item">
        <a class="pure-menu-link" href='/admin/announcement'><%= __('Announcement') %></a>
    </li>
    <li class="pure-menu-item">
        <a class="pure-menu-link" href='/admin/problems'><%= __('Problem Set') %></a>
    </li>
    <li class="pure-menu-item">
        <a class="pure-menu-link" href='/admin/contests'><%= __('Contest') %></a>
    </li>
    <li class="pure-menu-item">
        <a class="pure-menu-link" href='/admin/accounts'><%= __('Account') %></a>
    </li>
    <li class="pure-menu-item">
        <a class="pure-menu-link" href='/admin/grade'><%= __('Grade') %></a>
    </li>
</ul>

</div>